body.page-template-coffee {

	section.hero {
		padding-top: 50px;

		.video {
			aspect-ratio: 16 / 9;
			iframe {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	section.about {
		padding: 50px 0 0 0;

		@include tablet-portrait {
			padding-top: 100px;
		}
		
		.wrapper {
			max-width: 960px;
			padding: 0 50px;
		}

		.copy {
			p {
				font-family: $underwood;
				letter-spacing: 0.1em;
				font-size: 1em;
				line-height: 1.5em;

				& + p {
					padding-top: 25px;
				}

				a {
					text-decoration: underline;
				}
			}
			
		}

		.photo {
			max-width: 400px;
			margin: 0 auto;
			padding-top: 100px;
		}	
	}

	section.featured-roaster {
		margin: 50px 0;
		min-height: 66vh;

		&:before {
			display: block;
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 66vh 92vw 0 0;
			border-color: $green transparent transparent transparent;
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
		}

		@include tablet-portrait {
			margin: 150px 0 100px 0;

			&:before {
				border-width: 900px 80vw 0 0;
			}
		}

		.wrapper {
			max-width: 1200px;
		}

		.roaster-wrapper {
			padding: 50px 0 0 0;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-items: center;

			@include tablet-portrait {
				padding: 100px 0 0 0;
			}
		}

		.section-header {
			width: 100%;
			padding-bottom: 50px;

			h2 {
				color: $white;
				font-weight: normal;
				font-family: $euro-bodoni;
				text-transform: uppercase;
				letter-spacing: 0.2em;
				line-height: 1.75em;
				text-align: center;

				@include tablet-portrait {
					max-width: calc(50% - 25px);
					font-size: 2.25em;
				}

				&:after {
					content: ":::";
					display: block;
					text-align: center;
					font-size: 1.5em;
					font-weight: normal;
					padding-top: 20px;
				}
			}
		}

		.info {
			width: 100%;

			@include mobile-landscape {
				width: calc(50% - 25px);
			}

			.copy {
				max-width: 300px;
				margin: 0 auto;
				font-family: $underwood;

				p {

					font-size: 1em;
					line-height: 1.5em;
				}
			}

			.cta {
				max-width: 300px;
				margin: 0 auto;
				text-align: center;
				padding-top: 50px;

				a.btn {
					display: block;
					width: 100%;
					font-size: 1em;

				}
			}

		}

		.logo {
			width: 100%;

			@include mobile-landscape {
				width: calc(50% - 25px);
			}

			a {
				display: block;
			}

			img {
				max-width: 300px;
				margin: 0 auto;

				@include tablet-landscape {
					max-width: 400px;
				}
			}

			.timespan {
				padding-top: 25px;
				text-align: center;

				h5 {
					letter-spacing: 0.15em;
					font-size: 1.25em;
					color: $green;
					text-transform: uppercase;
					font-weight: normal;

					@include tablet-portrait {
						font-size: 1.5em;
					}					
				}
			}
		}

		.gallery {
			width: 100%;
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 20px 20px;
			padding: 50px 25px 0 25px;
			max-width: 870px;
			margin: 0 auto;

			@include mobile-landscape {
				grid-template-columns: 1fr 1fr;
				padding: 50px 0 0 0;
			}

			@include tablet-portrait {
				grid-template-columns: 1fr 1fr 1fr;
			}

		}
	}
}