body.page-template-covid-19 {

	header {
		.hamburger {
			display: none;
		}

		nav {
			display: none !important;

			&.open {
				display: block !important;

				@include tablet-portrait {
					display: none !important
				}
			}
		}
	}


	section.banner {
		padding: 30px 10px 10px 10px;
	}

	footer {
		.main-site-link {
			text-align: center;

			a {
				font-weight: 400;
				font-size: 1.125rem;
			}
		}
	}

	section {
		p, li {
			font-family: $gotham-light;

		}
	}

	section.message {
		padding-top: 50px;

		@include tablet-portrait {
			padding-top: 100px;
		}

		.wrapper {
			max-width: 960px;
		}

		.outer-border {
			border: 1px solid $slate;
			padding: 5px;
		}

		.inner-border {
			border: 1px solid $slate;
			padding: 40px;
		}


		.copy {
			padding: 0 20px;
			p {
				font-family: $underwood;
				font-size: 1rem;
				line-height: 1.5em;

				& + p {
					padding-top: 10px;
				}

				@include tablet-portrait {
					font-size: 1.125rem;
				}				
			}			
		}

		.signature {
			padding-top: 10px;
			text-align: center;
			max-width: 150px;
			margin: 0 50px 0 auto;

			@include tablet-portrait {
				max-width: 180px;
			}


			span {
				display: block;
				padding-top: 10px;
				font-size: 1rem;
				line-height: 1.375em;
				font-family: $underwood;
			}
		}


	}

	section.updated-hours {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 75px 0;
		}

		.wrapper {
			max-width: 960px;

			@include mobile-landscape {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;				
			}
		}

		.illustration {
			@include mobile-landscape {
				width: calc(40% - 25px);
			}

			img {
				max-width: 150px;
				margin: 0 auto;			
			}
		}

		.hours {
			padding-top: 20px;
			text-align: center;

			@include mobile-landscape {
				padding-top: 0;
				width: calc(60% - 25px);
				text-align: left;

			}

			.entry {
				& + .entry {
					padding-top: 20px;
				}

				.location {
					h3 {
						letter-spacing: 0.25em;
						font-size: 1.125rem;
						color: $green;
						text-transform: uppercase;
						font-weight: normal;

						@include tablet-portrait {
							font-size: 1.5em;
						}
					}
				}

				.hours {
					padding-top: 5px;

					p {
						font-size: 0.9375rem;
						line-height: 1.5em;
					}
				}
			}
		}
	}

	section.details {
		.wrapper {
			max-width: 960px;
		}
		
		.detail {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			padding: 50px 20px;
			border-top: 1px solid $slate;

			&:last-of-type {
				border-bottom: 1px solid $slate;
			}

			.photo {
				width: 100%;

				@include mobile-landscape {
					width: calc(40% - 25px);
				}
			}

			.info {
				width: 100%;
				padding: 25px 0 0 0;

				@include mobile-landscape {
					width: calc(60% - 25px);
					padding: 0;
				}

				.header {
					padding-bottom: 10px;

					h3 {
						text-transform: uppercase;
						letter-spacing: 0.15em;
						padding: 0 0 2px 0;
						font-size: 1.125rem;
						font-weight: 700;
						font-family: $euro-bodoni;
						display: inline-block;
						border-bottom: 1px solid;

						@include tablet-portrait {
							font-size: 1.375rem;
						}
					}

					& + .body {
						padding-top: 10px;
					}
				}

				.subheadline {
					padding-bottom: 10px;

					h4 {
						letter-spacing: 0.25em;
						font-size: 1rem;
						color: $green;
						text-transform: uppercase;
						font-weight: normal;

						@include tablet-portrait {
							font-size: 1.25rem;
						}
					}
				}

				.body {
					padding: 0 0 20px 0;

					p, li {
						font-size: 0.9375rem;
						line-height: 1.5em;

						& + p,
						& + ol {
							padding-top: 10px;
						}
					}

					ol {
						counter-reset: li;

						li {
							padding-left: 20px;
							position: relative;

							&:before {
								counter-increment: li;
								content: counter(li) ") ";
								position: absolute;
								top: 0;
								left: 0;
							}

							& + li {
								margin-top: 10px;
							}
						}

						& + p {
							padding-top: 10px;
						}
					}
				}

				.footer {
					.btn-wrapper {
						& + .btn-wrapper {
							margin-top: 10px;
						}

						.btn {
							font-size: 1.125rem;
							letter-spacing: 0.1em;
						}
					}
				}
			}

		}


	}

	section.safety {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 75px 0;
		}

		.wrapper {
			max-width: 960px;
		}

		.headline {
			padding: 0 20px 20px 20px;

			h3 {
				text-transform: uppercase;
				letter-spacing: 0.05em;
				padding: 0 0 2px 0;
				font-size: 1.125rem;
				font-weight: 700;
				font-family: $euro-bodoni;
				display: inline-block;
				border-bottom: 1px solid;

				@include tablet-portrait {
					font-size: 1.375rem;
				}
			}
		}


		.copy {
			padding: 0 20px;

			p, li {
				font-size: 0.9375rem;
				line-height: 1.5em;

				& + p,
				& + ol {
					padding-top: 10px;
				}				
			}			

			ol {
				counter-reset: li;

				li {
					padding-left: 20px;
					position: relative;

					&:before {
						counter-increment: li;
						content: counter(li) ") ";
						position: absolute;
						top: 0;
						left: 0;
					}

					& + li {
						margin-top: 10px;
					}
				}

				& + p {
					padding-top: 10px;
				}
			}
		}
	}

	.flower {
		padding-top: 100px;

		.photo {
			max-width: 200px;
			margin: 0 auto;

			@include tablet-portrait {
				max-width: 300px;
			}
		}
	}
}