.site-footer {
	background: url(images/marble.jpg) no-repeat center center;
	background-size: cover;
	padding: 50px 0;

	@include tablet-portrait {
		padding: 100px 0 50px 0;
	}

	.site-name {
		text-align: center;

		h1 {
			font-family: $euro-bodoni;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			font-size: 1.25em;

			@include tablet-portrait {
				font-size: 1.5em;
			}
		}
	}

	.contact-info{
		text-align: center;
		padding: 50px 0;

		@include tablet-landscape {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}

		a {
			font-family: $clarke;
			text-transform: uppercase;
			font-size: 1.25em;
			letter-spacing: 0.05em;
			display: block;

			@include desktop {
				font-size: 1.5em;
			}

			&:hover {
				text-decoration: underline;
			}
		}

		.locations {
			@include tablet-portrait {
				display: flex;
				align-items: center;
				justify-content: center;
			}


			.location {
				@include tablet-portrait {
					display: flex;
					align-items: center;
				}

				&:first-of-type {
					&:before {
						content: "Locations: ";
						font-family: $clarke;
						text-transform: uppercase;
						font-size: 1.25em;
						letter-spacing: 0.05em;
						display: block;
						margin: 0 0 10px 0;

						@include tablet-portrait {
							margin: 2px 10px 0 0;
						}
					}
				}

				& + .location {
					padding-top: 10px;

					@include tablet-portrait {
						padding-top: 0;

						&:before {
							content: '+';
							font-weight: bold;
							margin: 0 10px;
						}
					}
				}
			}
		}

		.phone {
			padding: 30px 0;


			@include tablet-landscape {
				padding: 0 50px;
			}
		}
	}

	.gift-card {
		text-align: center;
		padding-bottom: 50px;

		@include desktop {
			padding-bottom: 0;
		}
	}

	.ornament {
		img {
			margin: 0 auto;
			max-width: 50px;

			@include tablet-portrait {
				max-width: 75px;
			}
		}

		@include desktop {
			position: absolute;
			right: 25px;
			top: 0;
		}
	}

}