body.page-template-gallery {

	section#gallery {
		padding: 50px 0 50px 0;

		@include tablet-portrait {
			padding: 50px 0 100px 0;
		}

		.caption {
			padding: 50px 0 0 0;
			text-align: center;

			p {
				font-family: $underwood;
				letter-spacing: 0.1em;
				font-size: 1em;
				line-height: 1.5em;

				& + p {
					padding-top: 20px;
				}

				a {
					text-decoration: underline;
				}
			}
		}
	}

	.jp-carousel-info,
	.jp-carousel-left-column-wrapper {
		display: none;
	}

	.jp-carousel-overlay {
		opacity: 0.98 !important;
	}

	.jp-carousel-close-hint span {
		font-size: 48px !important;
		height: 48px;
	}

}