body.page-template-happenings {

	section#events {
		padding: 50px 0 100px 0;

		.wrapper {
			max-width: 960px;
			padding: 0 50px
		}
		
		.event {
			& + .event {
				&:before {
					display: block;
					content: '';
					width: 100%;
					margin: 50px 0;		
					border-top: 1px solid $black;

					@include tablet-landscape {
						width: calc(66.6666% - 25px);
						margin: 75px 0;	
						margin-left: auto;
					}
				}
			}

			.event-wrapper {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
			}

			.photo {
				width: 100%;

				@include tablet-portrait {
					width: calc(50% - 25px);
				}

				@include tablet-landscape {
					width: calc(33.3333% - 25px);
				}
			}

			.info {
				width: 100%;
				padding: 25px 0 0 0;

				@include tablet-portrait {
					width: calc(50% - 25px);
					padding: 0;
				}

				@include tablet-landscape {
					width: calc(66.6666% - 25px);
				}

				.header {
					h3 {
						text-transform: uppercase;
						letter-spacing: 0.1em;
						font-size: 1em;
						padding: 0 0 15px 0;

						@include tablet-portrait {
							font-size: 1.5em;
						}
					}

					h2 {
						text-transform: uppercase;
						letter-spacing: 0.2em;
						padding: 0 0 20px 0;
						font-size: 1.5em;
						line-height: 1.25em;
						font-weight: normal;
						font-family: $euro-bodoni;

						@include tablet-portrait {
							font-size: 2em;
						}
					}

					h4 {
						text-transform: uppercase;
						letter-spacing: 0.2em;
						padding: 0 0 15px 0;
						font-size: 1.125em;
						color: $green;
						font-weight: normal;

						@include tablet-portrait {
							font-size: 1.5em;
						}
					}
				}

				.body {
					padding: 0 0 10px 0;

					@include tablet-portrait {
						padding: 0 0 20px 0;
					}

					p {
						font-size: 1em;
						line-height: 1.5em;
						font-family: $gotham-light;

						@include tablet-landscape {
							font-size: 1.125em;
						}

						& + p {
							padding-top: 20px;
						}
					}
				}

				.footer {
					h4 {
						text-transform: uppercase;
						letter-spacing: 0.05em;
						font-size: 1em;
						padding: 0 0 20px 0;
						font-weight: normal;

						@include tablet-portrait {
							font-size: 1.25em;
						}
					}

					.link {
						& + .link {
							padding-top: 0.75rem;
						}
					}
				}
			}

		}


	}

}