.site-header {
	padding: 25px 0 25px 0;
	
	@include tablet-landscape {
		padding: 50px 0 25px 0;
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;

		@include tablet-landscape {
			justify-content: center;
		}
	}

	.site-logo {
		max-width: 160px;

		@include mobile-landscape {
			order: 1;
		}

		@include tablet-landscape {
			max-width: 300px;
			margin-right: auto;
		}		
	}

	.menu-cart-menu-container {
		top: 2px;

		@include tablet-portrait {
			top: 10px;
		}

		@include tablet-landscape {
			top: -36px;
		}
	}


	.order-online {
		width: 100%;
		padding-top: 25px;

		@include mobile-landscape {
			padding-top: 0;
			width: auto;
			order: 2;
			margin-left: -90px;
		}

		@include tablet-landscape {
			margin-left: 0;
		}
	}

	.hamburger {
		@include mobile-landscape {
			order: 3;
		}

		@include tablet-landscape {
			display: none;
		}

		.nav-trigger {
			display: block;
			width: 35px;
		    cursor: pointer;
		    padding: 8px 0;
		    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
		    z-index: 1000;

		    &:hover {
		    	cursor: pointer;
		    }

			.patty {
			    width: 35px;
			    height: 2px;
			    background: $slate;
			    border-radius: 2px;
			    transition: all 0.3s;
			    margin-left: auto;

				&:after, &:before {
				    content: '';
				    display: block;
				    width: 35px;
				    height: 2px;
				    background: $slate;
				    position: absolute;
				    z-index: 1;
				    transition: all 0.3s;
				    border-radius: 2px;
				}
				&:before {
				    top: -8px;
				}
				&:after {
				    top: 8px;
				}
			}
		}		
	}

	.social-links {
		display: none;

		@include tablet-landscape {
			display: flex;
			margin-left: auto;
			order: 4;
		}
	}

	.main-desktop {
		display: none;

		@include tablet-landscape {
			width: 100%;
			padding-top: 50px;
			display: flex;
			justify-content: center;
			order: 5;			
		}


		a {
			display: block;
			margin: 0 17px;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			font-size: 0.75em;
			font-family: $euro-bodoni;
			font-weight: bold;
			padding-bottom: 3px;
			border-bottom: 2px solid transparent;

			@include desktop {
				margin: 0 25px;
				font-size: 0.875em;
			}

			&:hover {
				border-bottom: 2px solid $slate;
			}
		}
	}

}

.main-mobile {
	display: none;

	.overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 100;
		width: 100%;
		height: 100vh;
		background: rgba(255, 255, 255, 0.95);

		.overlay-wrapper {
			padding: 50px;

			@include tablet-portrait {
				padding: 70px 50px;
			}
		}

		.navigation {
			a {
				display: block;
				font-size: 1em;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				margin-bottom: 20px;
				font-weight: bold;

				@include tablet-portrait {
					font-size: 1.25em;
					margin-bottom: 30px;
				}
			}
		}

		.social-links {
			padding-top: 20px;
		}

		.menu-cart-menu-container {
			display: none;
		}
	}



}

section.banner {
	width: calc(100% + 16px);
    left: -8px;

   	&:before,
   	&:after {
   		content: '';
   		position: absolute;
   		top: 0;
   		height: 100%;
   		width: 0.125rem;
   		background: rgba(0, 0, 0, 0.5);
   		display: block;
   		z-index: 20;
   	}

   	&:before {
   		left: 6px;
   	}

   	&:after {
   		right: 6px;
   	}
	
	.wrapper {
		padding: 0;
	}

	.banner-entry {
		& + .banner-entry {
			padding-top: 2px;
		}
	}

	a {
		display: block;
		z-index: 10;
		position: relative;
	}

	.mobile {
		display: block;

		@include tablet-portrait {
			display: none;
		}
	}

	.desktop {
		display: none;

		@include tablet-portrait {
			display: block;
		}
	}
}


body.nav-overlay-open {
	overflow: hidden;

	.main-mobile {
		display: block;

		@include tablet-landscape {
			display: none;
		}
	}

	.site-header {
		.hamburger {
			position: absolute;
			z-index: 1000;
			right: 10px;

			@include mobile-landscape {
				right: 25px;
			}

			.nav-trigger {

				.patty {
					background: none;

					&:after {
					    top: 0;
					    transform: rotate(45deg);
					}
					&:before {
					    top: 0;
					    transform: rotate(-45deg);
					}
				}
			}
		}		
	}
}


