body.page-template-homepage {

	section.hero {
		.hero-logo {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				max-width: 200px;

				@include mobile-landscape {
					max-width: 400px;
					
				}

				@include tablet-landscape {
					max-width: 500px;
				}
			}
		}

		.hero-quote {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			font-family: $clarke;
			text-transform: uppercase;
			font-size: 0.75rem;
			letter-spacing: 0.1em;

			@include mobile-landscape {
				font-size: 0.8125em;
			}
			
			@include tablet-portrait {
				top: 0;
				left: 0;
				justify-content: flex-end;
				font-size: 0.75rem;
			}

			.quote {
				display: flex;
				justify-content: flex-start;
				padding-bottom: 20px;

				@include tablet-portrait {
					transform: rotate(-90deg) translate(80px, 110px);
					padding-bottom: 0;
					position: absolute;
					right: 0;
				}
			}

			blockquote {
				padding: 0;
				margin: 0;

				p {
					font-weight: bold;
				}
			}

			cite {
				font-style: normal;
				font-weight: bold;
				padding-left: 5px;

				@include tablet-portrait {
					padding-left: 10px;
					transform: translate(0, 15px);
				}
			}
		}

		.hero-image {
			img {
				width: 100%;
			}
		}
	}

	section.photos {
		padding-top: 5px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 5px;

		@include mobile-landscape {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}


	section.taglines {
		text-align: center;
		padding: 50px 0;

		.wrapper {
			padding: 0 25px;
		}

		h2.tagline {
			font-family: $euro-bodoni;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			font-size: 0.8125em;
			padding-bottom: 25px;

			@include mobile-landscape {
				font-size: 1.25em;
			}

			@include tablet-landscape {
				font-size: 1.75em;
			}
		}

		h3.tagline {
			font-family: $fg-rakel;
			font-size: 1.5em;
			font-weight: normal;

			@include mobile-landscape {
				font-size: 2em;
			}

			@include tablet-landscape {
				font-size: 3em;
			}
		}
	}

}