body.page-template-host-an-event {

	section.photos {
		padding: 50px 0 0 0;

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.main {
			width: 100%;
			margin-bottom: 10px;

		}

		.left {
			width: calc(66.6666% - 5px);
		}

		.right {
			width: calc(33.3333% - 5px);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	section.letter {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}
		
		.wrapper {
			max-width: 800px;
			padding: 0 50px;
		}

		.copy {
			pre {
				font-family: $underwood;
				letter-spacing: 0.1em;
				font-size: 1em;
				line-height: 1.5em;
				white-space: normal;

				@include tablet-portrait {
					white-space: pre;
				}
			}
			p {
				font-family: $underwood;
				letter-spacing: 0.1em;
				font-size: 1em;
				line-height: 1.5em;

				& + p {
					padding-top: 25px;
				}

				a {
					text-decoration: underline;
				}
			}
			
		}

		.signature {
			padding: 25px 0 0 0;
			max-width: 200px;
		}

		.cta {
			padding-top: 75px;
			text-align: center;
		}
	}

	section.experiences {
		padding-bottom: 50px;

		@include tablet-portrait {
			padding-bottom: 100px;
		}

		.headline.section-header {
			text-align: center;
			h2 {
				letter-spacing: 0.15em;
				font-size: 1.25em;
				color: $green;
				text-transform: uppercase;
				font-weight: normal;

				@include tablet-portrait {
					font-size: 1.5em;
				}
			}

		}

		.copy.p4 {
			padding: 25px 0;
			text-align: center;

			p {
				font-size: 0.875em;
				line-height: 1.5em;
				font-family: $gotham-light;
				letter-spacing: 0.05em;

				& + p {
					padding-top: 20px;
				}

				a {
					text-decoration: underline;
				}
			}
		}

		.options {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 50px 20px;

			@include tablet-portrait {
				grid-template-columns: 1fr 1fr;
			}


			.option {
				@include mobile-landscape {
					display: flex;
					justify-content: space-between;

					.photo, .info {
						width: calc(50% - 10px);
					}
				}

				@include tablet-portrait {
					display: block;
					justify-content: space-between;

					.photo, .info {
						width: 100%;
					}
				}

				@include tablet-landscape {
					display: flex;
					justify-content: space-between;

					.photo, .info {
						width: calc(50% - 10px);
					}
				}



				.info {
					padding-top: 25px;

					@include mobile-landscape {
						padding-top: 10px;
					}

					@include tablet-portrait {
						padding-top: 20px;
					}

					@include tablet-landscape {
						padding-top: 10px;
					}
				}

				.headline {
					padding-bottom: 20px;

					h3 {
						font-family: $euro-bodoni;
						text-transform: uppercase;
						font-weight: normal;
						letter-spacing: 0.2em;
						font-size: 1.5em;
					}
				}
				.copy {
					font-family: $clarke;
					text-transform: uppercase;
					font-size: 1.125em;

					ul {
						padding: 0 0 0 20px;
					}

					li {
						list-style-type: disc;

						& + li {
							padding-top: 10px;
						}
					}
				}
			}
		}

	}

}