body.page-template-locations {

	.detail {
		& + .detail {
			padding-top: 25px;
		}

		h4 {
			text-transform: uppercase;
			font-size: 1.225em;
			letter-spacing: 0.075em;
			padding-bottom: 10px;
		}

		p {
			font-size: 1em;
			line-height: 1.5em;
			font-family: $gotham-light;

			@include tablet-landscape {
				font-size: 1.25em;
			}
		}
	}

	section.locations {
		padding: 50px 0;

		.wrapper {
			padding: 0 50px;
			max-width: 960px;
		}

		.location {

			& + .location {
				margin-top: 50px;
				border-top: 1px solid $slate;
				padding-top: 50px;
			}

			.info {
				padding-top: 20px;
			}

			.headline {
				padding: 0 0 20px 0;

				h3 {
					font-family: $euro-bodoni;
					text-transform: uppercase;
					letter-spacing: 0.2em;
					font-size: 1.5em;
					line-height: 1.25em;
					font-weight: normal;

					@include tablet-landscape {
						font-size: 2em;
					}
				}
			}

		}

		@include tablet-portrait {
			.location {
				display: flex;
				justify-content: space-between;

				.photo {
					width: calc(40% - 25px);
				}

				.info {
					padding-top: 10px;
					width: calc(60% - 25px);

				}
			}
		}

	}

	section.contact-info {
		padding: 0 0 50px 0;

		@include tablet-portrait {
			padding: 50px 0 100px 0;

			.info {
				width: calc(60% - 25px);
				margin-left: auto;
			}
		}

		.wrapper {
			padding: 0 50px;
			max-width: 960px;
		}

		.detail {
			& + .detail {
				padding-top: 40px;
			}
		}
	}
}