body.page-template-menu {

	section.menu-nav {
		padding: 15px 0 50px 0;

		.menu-jump-nav {
			text-align: center;

			@include tablet-portrait {
				display: flex;
				justify-content: center;
			}

			a {
				display: block;
				color: $slate;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-family: $clarke;
				font-weight: 400;
				font-size: 1.25em;

				@include tablet-portrait {
					font-size: 1.5em;
				}

				& + a {
					margin: 20px 0 0 0;

					@include tablet-portrait {
						margin: 0 0 0 25px;
					}
				}

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	section.edition {
		text-align: center;
		padding-bottom: 25px;

		@include tablet-portrait {
			text-align: right;
		}


		h2 {
			color: $green;
			text-transform: uppercase;
			font-size: 1.5em;
			font-weight: normal;
			letter-spacing: 0.2em;

			@include tablet-portrait {
				margin-right: 15%;
				font-size: 2em;
			}
		}
	}

	section.menu {

		img {
			margin: 0 auto;
		}
		
		& + section.menu {
			padding: 50px 0 0 0;
		}

		.mobile {
			display: block;

			@include tablet-portrait {
				display: none;
			}
		}

		.desktop {
			display: none;

			@include tablet-portrait {
				display: block;
			}
		}
	}


}