section.qr-menu {
    padding-bottom: 1rem;

    @include tablet-portrait {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .menu {
        max-width: 20rem;
        margin: 0 auto;

        @include tablet-portrait {
            max-width: 30rem;
        }

        a {
            display: block;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

body.page-template-qr-menu {
	@media screen and (max-width: 767px) {
        section.banner {
            display: none;
        }

        .site-header {
            .menu-cart-menu-container,
            .order-online {
                display: none;
            }
        }
    }
}