.bc-product-card .bc-quickview-trigger {
	border: none;
}

.bc-quickview-trigger--hover {
	display: none;
}

.bc-product-grid .bc-product__actions {
	display: none;
}

@media screen and (max-width: 499px) {
	html .bc-product-grid--4col>.bc-product-card {
	    flex-grow: 0;
	    flex-shrink: 0;
	    flex-basis: calc(50% - 15px);
	    max-width: calc(50% - 15px);
	    width: calc(50% - 15px);
	    margin-bottom: 15px !important;
	}
}


@import "partials/shop/shop-grid";

.shop-sub-nav {
	padding: 15px 0 0 0;
	
	.links {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-wrap: wrap;
	}

	.link {
		padding: 10px 15px;

		a {
			font-family: $clarke;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-size: 1.25rem;
			text-decoration: none;
			border-bottom: 2px solid transparent;

			@include tablet-portrait {
				font-size: 1.5rem;
			}

			&:hover,
			&.active {
				border-bottom: 2px solid $slate;
			}
		}
	}
}


.bc-load-items,
.bc-product-quick-view__content-inner,
body.single-bigcommerce_product .bc-product-single,
.bc-cart,
.bc-wish-list-dialog-content,
.bc-product-card--single {	
	* {
		font-family: $gotham-light;
	}
}

.bc-product__title, 
.bc-product__title a,
.bc-cart-item__product-title,
.bc-cart-item__product-title a {
	font-family: $clarke !important;
	font-size: 1.25rem !important;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: normal;

	@include tablet-landscape {
		font-size: 1.5rem !important;
	}
}

.bc-btn,
button.bc-btn,
a.bc-btn,
.entry-content .bc-btn,
.entry-content button.bc-btn,
.entry-content a.bc-btn,
.bc-mini-cart .bc-btn,
.bc-mini-cart button.bc-btn,
.bc-mini-cart a.bc-btn,
.bigcommerce-cart__item-count,
.bc-account-login__form input[type="submit"] {
	background: $slate !important;
	color: $white !important;
	opacity: 1 !important;
	font-family: $clarke !important;
	font-size: 1.25rem !important;
	letter-spacing: 0.1em;
	font-weight: 400 !important;
	border: none !important;

	&:hover {
		background: $green !important;
	}
}

.bc-btn--inverse, button.bc-btn--inverse {
	border: none;
}

html {
	.bc-link {
		color: $slate;
		text-decoration: underline;
	}

	input.bc-product-form__quantity-input[type=number],
	.bc-cart-item-quantity input.bc-cart-item__quantity-input {
		width: 50px;
		height: 40px;
	}

	.bc-alert--success {
		background: $white;
		border: 2px solid $slate;
		color: $slate;
	}

	.bc-cart-header > div {
		padding: 20px 0;
	}

	.bc-cart-item__remove-button {
		font-size: 0.75rem;
		font-weight: normal;
		border: none;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-weight: bold;
		text-decoration: none;
		color: $slate;
		text-decoration: underline;

		&:hover {
			text-decoration: underline;
			color: $slate;
		}
	}

	.bc-product-grid > .bc-product-card {
		margin-bottom: 30px;
	}

	.bc-product__brand {
		margin-bottom: 10px;
		font-size: 0.6125rem;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color: $mid-gray;
	}

	.bc-product__title {
		margin-bottom: 5px;
	}

	.bc-product__pricing,
	.bc-product-price,
	.bc-product__retail-price,
	.bc-product__original-price,
	.bc-product__price {
		font-size: 0.8125rem;
		font-weight: bold;

		@include tablet-landscape {
			font-size: 1rem;
		}
	}

	.bc-product__pricing {
		justify-content: center;
	}

	.bc-product__meta {
		padding: 10px 0 25px 0;
		text-align: center;
	}

	.bc-product__description {
		p {
			& + p {
				padding-top: 15px;
			}
		}
	}
	
	.bc-single-product__reviews,
	.bc-single-product__ratings {
		display: none;
	}

	.bc-product-quick-view__wrapper,
	.bc-product-single {
		.bc-product__meta {
			text-align: left;
			margin-bottom: 20px;
		}

		.bc-product__pricing {
			justify-content: flex-start;
		}
	}

	.bc-product-single__meta .bc-product__title {
		font-weight: 400;
	}




}


body.single-bigcommerce_product .bc-product-single {
	padding-top: 50px;
	max-width: 1200px;

	.bc-single-product__related {
		padding-bottom: 50px;

		.bc-single-product__section-title--related {

		}
	}
}

body.page-template-shop  {
	.bc-shortcode-product-grid-wrapper {
		margin-top: -25px;

		@include tablet-landscape {
			margin-top: 0;
		}
	}

	section.shop-info {
		padding: 15px 0 50px 0;

		.copy {
			font-family: $underwood;
			line-height: 1.5em;
			font-size: 1rem;
			max-width: 800px;
			padding: 25px 25px 0 25px;
			margin: 0 auto;

			@include tablet-portrait {
				font-size: 1.125rem;
				padding: 50px 25px 0 25px;
			}

			p {
				& + p {
					padding-top: 15px;
				}
			}
		}
	}

	section.shop .wrapper {
		text-align: center;

		& > h2 {
			text-align: center;
			font-weight: normal;
			padding: 50px 0 5px 0;
			border-bottom: 1px solid;
			margin-bottom: 25px;
			font-family: $euro-bodoni;
			text-transform: uppercase;
		    letter-spacing: 0.1em;
		    font-size: 1.125rem;
		    display: inline-block;

		    @include tablet-portrait {
		    	font-size: 1.375rem;
		    }
		}

		.bc-shortcode-product-grid-wrapper {
			text-align: left;
		}
	}
}

body .bc-cart {
	padding-bottom: 50px;

	.bc-cart__title--empty {
		padding-bottom: 20px;
	}

	.bc-cart__continue-shopping {
		&:hover {
			text-decoration: underline;
		}
	}
}

body .bc-account-page,
body .bc-gift-page {
	border-top: none;
	border-bottom: none;
	padding: 100px 0 0 0;

	& > form,
	& > div {
		max-width: 960px;
		margin: 0 auto;
		padding-bottom: 50px;
	}

	.bc-form .bc-form__actions {
		margin-top: 0;
	}
	
	.bc-account-form--register,
	.bc-account-form--profile,
	.bc-gift-purchase__form {		
		label {
			margin-bottom: 25px;
		}

		.bc-form__label {
			font-family: $clarke;
			text-transform: uppercase;
			margin-bottom: 3px;
			font-size: 1.25rem;
		}

		input[type="text"],
		input[type="email"],
		input[type="password"] {
			width: 100%;
			height: 40px;
			line-height: 40px;
			font-family: $clarke;
			font-size: 1.25rem;
			padding: 0 5px;
		}
	}

	.bc-account-login {

		&__form {

			p {
				padding: 0;
				margin: 0;

				& + p {
					padding-top: 25px;
				}

				&.login-remember {
					padding-top: 10px;

					label {
						display: flex;
						align-items: center;
						justify-content: flex-start;

						input[type="checkbox"] {
							margin-right: 10px;
							transform: translateY(-2px);
						}
					}
				}

				&.login-submit {

				}
			}

			a[title="Forgot Password"] {
				font-family: $clarke;
				text-transform: uppercase;
				font-size: 1rem;
				display: inline-block;
				margin-top: 10px;

				&:hover {
					text-decoration: underline;
				}
			}

			label {
				font-family: $clarke;
				text-transform: uppercase;
				margin-bottom: 3px;
				font-size: 1.25rem;
			}

			input[type="text"],
			input[type="email"],
			input[type="password"] {
				width: 100%;
				height: 40px;
				line-height: 40px;
				font-family: $clarke;
				font-size: 1.25rem;
				padding: 0 5px;
			}
		}

		&__register {

			&-title {
				font-family: $clarke;
				text-transform: uppercase;
				font-size: 1.75rem;
				font-weight: normal;
				padding-bottom: 25px;
			}

			p, ul {
				font-family: $underwood;
				letter-spacing: 0.1em;
				font-size: 1em;
				line-height: 1.5em;

				& + p,
				& + ul {
					padding-top: 15px;
				}
			}

			ul{
				list-style-type: disc;
				padding-left: 20px;
			}

			.bc-btn--register {
				margin-top: 25px;
			}
		}
	}


}

body {
	.bc-account-addresses__add-button,
	button.bc-account-addresses__add-button {
		font-family: $clarke !important;
		text-transform: uppercase;
		font-size: 1.75rem;
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 0.05em;
	}

	.bc-subnav {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 25px;

		&__list {
			width: auto;

			&-item {
				font-family: $underwood;
				letter-spacing: 0.1em;
				font-size: 1em;

				.bc-link {
					text-decoration: none;
					border-bottom: 2px solid transparent;

					&:hover {
						border-bottom: 2px solid $slate;
					}
				}

				&--current {
					.bc-subnav__link {
						color: $black;
						border-color: $black;

						&:hover {
							border-color: $black;
						}
					}
				}
			}
		}
	}

}

.bc-account-addresses {
	form.bc-form {
		
		label {
			margin-bottom: 25px;
		}

		.bc-form__label {
			font-family: $clarke;
			text-transform: uppercase;
			margin-bottom: 3px;
			font-size: 1.25rem;
		}

		input[type="text"],
		input[type="email"],
		input[type="password"] {
			width: 100%;
			height: 40px;
			line-height: 40px;
			font-family: $clarke;
			font-size: 1.25rem;
			padding: 0 5px;
		}

	}
}


.bc-wish-list-dialog-content {
	max-width: 600px;

	.bc-wish-list-name-field {
		height: 40px;
		line-height: 40px;
		padding: 0 5px;
	}
	

	.bc-btn--form-submit {
		margin-top: 50px;
	}

}

body .bc-gift-page {
	padding-top: 50px;

	.bc-gift-balance,
	.bc-gift-purchase__form {
		border-bottom: 2px solid $slate;
		margin-bottom: 50px;
	}

	.bc-gift-balance__form {

		h3 {
			font-family: $clarke;
			text-transform: uppercase;
			font-size: 1.75rem;
			font-weight: normal;
			padding-bottom: 25px;
		}

		p {
			font-family: $gotham-light;
			letter-spacing: 0.1em;
			font-size: 1em;
			line-height: 1.5em;
			padding-bottom: 15px;
		}

		.bc-form__label {
			font-family: $clarke;
			text-transform: uppercase;
			font-size: 1.125rem;
			letter-spacing: 0.05em;
		}
	}

}

body .bc-gift-instructions {
	padding-bottom: 50px;
	max-width: 960px;
	margin: 0 auto;

	h3 {
		font-family: $clarke;
		text-transform: uppercase;
		font-size: 1.75rem;
		font-weight: normal;
		padding-bottom: 25px;
	}

	p, ul, ol {
		font-family: $gotham-light;
		letter-spacing: 0.1em;
		font-size: 1em;
		line-height: 1.5em;
		padding-bottom: 15px;
	}

	ul {
		list-style-type: disc;
		padding-left: 20px;
	}

	ol {
		list-style-type: decimal;
		padding-left: 20px;
	}

}

body.page-template-default section.shop {

	.wrapper {

		& > p {
			max-width: 640px;
			margin: 0 auto;
			font-family: $gotham-light;
			letter-spacing: 0.1em;
			font-size: 1em;
			line-height: 1.5em;
			padding-top: 25px;

			a {
				color: $black;
				text-decoration: underline;
				font-weight: bold;
			}
		}
	}
}

.menu-cart-menu-container {
	position: absolute;
	right: 60px;

	@include mobile-landscape {
		right: 85px;
	}

	@include tablet-landscape {
		top: -40px;
		right: 10px;		
	}

	.menu-item-bigcommerce-cart {
		a {
			padding: 0;
			margin: 0;
			font-family: $gotham-light;
			text-transform: uppercase;
			font-size: 0.75em;
			font-weight: bold;
			display: flex;
			align-items: center;
			letter-spacing: 0.1em;
			color: transparent;

			@media screen and (min-width: 350px) {
				color: $slate;
			}

			.bigcommerce-cart__item-count {
				margin-left: 5px;
				transform: scale(1);

				&:before {
					content: '0';
				}

				&.full {
					&:before {
						content: '';
						display: none;
					}
				}
			}
		}
	}

	.bc-cart__empty {
		border-top: none;
		border-bottom: none;

		.bc-cart__continue-shopping {
			display: block;
			margin-top: 25px;
		}
	}
}


body .bc-mini-cart--nav-menu.bc-show-mini-cart-nav {
	z-index: 1000;
	.bc-cart-item__product-title a {
		font-size: 1rem !important;
		padding: 0;
		margin: 0;
	}

	.bc-cart-item-total-price {
		padding-top: 10px;
	}

	.bc-cart-item__product-brand,
	.bc-cart-item__product-option {
		margin-top: 3px;
	}

	.bc-cart-actions {

		form {
			text-align: center;
		}
		
	}


	.bc-cart-actions__view-button {
		background: $white !important;
		color: $slate !important;
		border: 1px solid $slate;
		font-size: 1rem !important;
		margin: 0 0 0 auto;
		max-width: 150px;
		padding: 15px 15px 12px 15px;
		display: inline-block;

		&:hover {
			background: $slate !important;
			color: $white !important;
		}
	}
}

.bc-product-variant__label {

	&--pick-list {
		border-color: $light-gray;
		border-width: 2px;
		padding: 0.5rem 1rem;
		min-height: 3.5rem;
		transition: all 0.2s ease-in;
	}

	&--title {
		color: $charcoal;
		font-weight: 600;
		font-size: 0.875rem;
	}

	img {
		transition: all 0.2s ease-in;
	}
}

.bc-product-form__control--pick-list input.bc-product-variant__radio--hidden:checked+.bc-product-variant__label .bc-product-variant__label--pick-list {
	border-color: rgb(77, 94, 87);
	border-width: 2px;
	background: #F7F9F7;

	.bc-product-variant__label--title {
		color: rgb(77, 94, 87);
	}
	

	img {
		mix-blend-mode: multiply;
	}
}
