body {
	background: $white;


	.page {
		padding: 0.375rem;
		min-height: 100vh;
		border: 0.125rem solid rgba(0, 0, 0, 0.6);
		margin: 10px;
		max-width: 1600px;

		@media screen and (min-width: 1640px) {
			margin: 1.25rem auto;
		}
	}

	.page-wrapper {
		min-height: 100vh;
		border: 0.125rem solid rgba(0, 0, 0, 0.6);
	}


}

.wrapper {
	@include wrapper-padding;

}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}