html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $slate;
	font: 400 100%/1 $euro-bodoni;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $clarke;
	font-weight: bold;
}

p {

}

a {
	color: $slate;
	transition: all 0.3s ease-in-out;
}

.cta {
	.btn {
		display: inline-block;
		font-size: 1.125rem;
		font-family: $clarke;
		text-transform: uppercase;
		background: $black;
		color: $white;
		padding: 10px 16px 8px 16px;

		@include tablet-portrait {
			font-size: 1.375em;
			padding: 12px 20px 10px 20px;
		}

		&:before {
			content: ">> > ";
			padding-right: 5px;
		}
	}
}