/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #d9d9d9;
$mid-gray: #7B7977;
$charcoal: #424242;
$slate: #211E1F;
$black: #000;
$green: #b3c5b0;


/* Typography
----------------------------------*/
@font-face {
    font-family: 'Euro Bodoni';
    src: url('fonts/euro_bodoni_dc_d_regular-webfont.eot');
    src: url('fonts/euro_bodoni_dc_d_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/euro_bodoni_dc_d_regular-webfont.woff2') format('woff2'),
         url('fonts/euro_bodoni_dc_d_regular-webfont.woff') format('woff'),
         url('fonts/euro_bodoni_dc_d_regular-webfont.ttf') format('truetype'),
         url('fonts/euro_bodoni_dc_d_regular-webfont.svg#euro_bodoni_dc_dregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FG Rakel';
    src: url('fonts/yoff_-_fg_rakel-webfont.eot');
    src: url('fonts/yoff_-_fg_rakel-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/yoff_-_fg_rakel-webfont.woff2') format('woff2'),
         url('fonts/yoff_-_fg_rakel-webfont.woff') format('woff'),
         url('fonts/yoff_-_fg_rakel-webfont.ttf') format('truetype'),
         url('fonts/yoff_-_fg_rakel-webfont.svg#fg_rakelregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Clarke Regular';
    src: url('fonts/clarke_regular_v6.3-webfont.eot');
    src: url('fonts/clarke_regular_v6.3-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clarke_regular_v6.3-webfont.woff2') format('woff2'),
         url('fonts/clarke_regular_v6.3-webfont.woff') format('woff'),
         url('fonts/clarke_regular_v6.3-webfont.ttf') format('truetype'),
         url('fonts/clarke_regular_v6.3-webfont.svg#clarkeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Light';
    src: url('fonts/GothamLight.eot');
    src: local('GothamLight'),
        url('fonts/GothamLight.woff') format('woff'),
        url('fonts/GothamLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('fonts/GothamBook.eot');
    src: local('GothamBook'),
        url('fonts/GothamBook.woff') format('woff'),
        url('fonts/GothamBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Underwood';
    src: url('fonts/myunderwood-webfont.woff2') format('woff2'),
         url('fonts/myunderwood-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$euro-bodoni: 'Euro Bodoni', serif;
$fg-rakel: 'FG Rakel', cursive;
$clarke: 'Clarke Regular', sans-serif;
$gotham-book: 'Gotham Book', sans-serif;
$gotham-light: 'Gotham Light', sans-serif;
$underwood: 'Underwood', serif;