/*

    Theme Name: Mr. West
    Theme URI: http://n.com/
    Author: Andrew Lovseth
    Author URI: https://andrewlovseth.com/
    Description: Version 2.0 of Mr. West
    Version: 2.0

*/
/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
@font-face {
  font-family: 'Euro Bodoni';
  src: url("fonts/euro_bodoni_dc_d_regular-webfont.eot");
  src: url("fonts/euro_bodoni_dc_d_regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/euro_bodoni_dc_d_regular-webfont.woff2") format("woff2"), url("fonts/euro_bodoni_dc_d_regular-webfont.woff") format("woff"), url("fonts/euro_bodoni_dc_d_regular-webfont.ttf") format("truetype"), url("fonts/euro_bodoni_dc_d_regular-webfont.svg#euro_bodoni_dc_dregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FG Rakel';
  src: url("fonts/yoff_-_fg_rakel-webfont.eot");
  src: url("fonts/yoff_-_fg_rakel-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/yoff_-_fg_rakel-webfont.woff2") format("woff2"), url("fonts/yoff_-_fg_rakel-webfont.woff") format("woff"), url("fonts/yoff_-_fg_rakel-webfont.ttf") format("truetype"), url("fonts/yoff_-_fg_rakel-webfont.svg#fg_rakelregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Clarke Regular';
  src: url("fonts/clarke_regular_v6.3-webfont.eot");
  src: url("fonts/clarke_regular_v6.3-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/clarke_regular_v6.3-webfont.woff2") format("woff2"), url("fonts/clarke_regular_v6.3-webfont.woff") format("woff"), url("fonts/clarke_regular_v6.3-webfont.ttf") format("truetype"), url("fonts/clarke_regular_v6.3-webfont.svg#clarkeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Light';
  src: url("fonts/GothamLight.eot");
  src: local("GothamLight"), url("fonts/GothamLight.woff") format("woff"), url("fonts/GothamLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Book';
  src: url("fonts/GothamBook.eot");
  src: local("GothamBook"), url("fonts/GothamBook.woff") format("woff"), url("fonts/GothamBook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Underwood';
  src: url("fonts/myunderwood-webfont.woff2") format("woff2"), url("fonts/myunderwood-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* Media Queries
----------------------------------*/
/* HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

/* Links */
a {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover, a:active {
  outline: none; }

/* Typography */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 600; }

i, em {
  font-style: italic; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/* Lists */
dd {
  margin: 0 0 0 40px; }

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/* Figure */
figure {
  margin: 0; }

/* Forms */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative; }

/* Selection  */
::-moz-selection {
  background: #b3c5b0;
  color: #000;
  text-shadow: none; }

::selection {
  background: #b3c5b0;
  color: #000;
  text-shadow: none; }

/* Clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* Border-Box */
* {
  box-sizing: border-box; }

/* Image replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

/* Responsive Image */
img {
  display: block;
  max-width: 100%; }

html, input, textarea {
  -webkit-font-smoothing: antialiased; }

body {
  text-rendering: optimizeLegibility; }

body, input, textarea, button {
  color: #211E1F;
  font: 400 100%/1 "Euro Bodoni", serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Clarke Regular", sans-serif;
  font-weight: bold; }

a {
  color: #211E1F;
  transition: all 0.3s ease-in-out; }

.cta .btn {
  display: inline-block;
  font-size: 1.125rem;
  font-family: "Clarke Regular", sans-serif;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  padding: 10px 16px 8px 16px; }
  @media screen and (min-width: 768px) {
    .cta .btn {
      font-size: 1.375em;
      padding: 12px 20px 10px 20px; } }
  .cta .btn:before {
    content: ">> > ";
    padding-right: 5px; }

body {
  background: #fff; }
  body .page {
    padding: 0.375rem;
    min-height: 100vh;
    border: 0.125rem solid rgba(0, 0, 0, 0.6);
    margin: 10px;
    max-width: 1600px; }
    @media screen and (min-width: 1640px) {
      body .page {
        margin: 1.25rem auto; } }
  body .page-wrapper {
    min-height: 100vh;
    border: 0.125rem solid rgba(0, 0, 0, 0.6); }

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  padding: 0 10px;
  transition: padding 0.2s ease-in; }
  @media screen and (min-width: 568px) {
    .wrapper {
      padding: 0 25px; } }
  @media screen and (min-width: 1024px) {
    .wrapper {
      padding: 0 50px; } }

.cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
.site-header {
  padding: 25px 0 25px 0; }
  @media screen and (min-width: 1024px) {
    .site-header {
      padding: 50px 0 25px 0; } }
  .site-header .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; }
    @media screen and (min-width: 1024px) {
      .site-header .wrapper {
        justify-content: center; } }
  .site-header .site-logo {
    max-width: 160px; }
    @media screen and (min-width: 568px) {
      .site-header .site-logo {
        order: 1; } }
    @media screen and (min-width: 1024px) {
      .site-header .site-logo {
        max-width: 300px;
        margin-right: auto; } }
  .site-header .menu-cart-menu-container {
    top: 2px; }
    @media screen and (min-width: 768px) {
      .site-header .menu-cart-menu-container {
        top: 10px; } }
    @media screen and (min-width: 1024px) {
      .site-header .menu-cart-menu-container {
        top: -36px; } }
  .site-header .order-online {
    width: 100%;
    padding-top: 25px; }
    @media screen and (min-width: 568px) {
      .site-header .order-online {
        padding-top: 0;
        width: auto;
        order: 2;
        margin-left: -90px; } }
    @media screen and (min-width: 1024px) {
      .site-header .order-online {
        margin-left: 0; } }
  @media screen and (min-width: 568px) {
    .site-header .hamburger {
      order: 3; } }
  @media screen and (min-width: 1024px) {
    .site-header .hamburger {
      display: none; } }
  .site-header .hamburger .nav-trigger {
    display: block;
    width: 35px;
    cursor: pointer;
    padding: 8px 0;
    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    z-index: 1000; }
    .site-header .hamburger .nav-trigger:hover {
      cursor: pointer; }
    .site-header .hamburger .nav-trigger .patty {
      width: 35px;
      height: 2px;
      background: #211E1F;
      border-radius: 2px;
      transition: all 0.3s;
      margin-left: auto; }
      .site-header .hamburger .nav-trigger .patty:after, .site-header .hamburger .nav-trigger .patty:before {
        content: '';
        display: block;
        width: 35px;
        height: 2px;
        background: #211E1F;
        position: absolute;
        z-index: 1;
        transition: all 0.3s;
        border-radius: 2px; }
      .site-header .hamburger .nav-trigger .patty:before {
        top: -8px; }
      .site-header .hamburger .nav-trigger .patty:after {
        top: 8px; }
  .site-header .social-links {
    display: none; }
    @media screen and (min-width: 1024px) {
      .site-header .social-links {
        display: flex;
        margin-left: auto;
        order: 4; } }
  .site-header .main-desktop {
    display: none; }
    @media screen and (min-width: 1024px) {
      .site-header .main-desktop {
        width: 100%;
        padding-top: 50px;
        display: flex;
        justify-content: center;
        order: 5; } }
    .site-header .main-desktop a {
      display: block;
      margin: 0 17px;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-size: 0.75em;
      font-family: "Euro Bodoni", serif;
      font-weight: bold;
      padding-bottom: 3px;
      border-bottom: 2px solid transparent; }
      @media screen and (min-width: 1280px) {
        .site-header .main-desktop a {
          margin: 0 25px;
          font-size: 0.875em; } }
      .site-header .main-desktop a:hover {
        border-bottom: 2px solid #211E1F; }

.main-mobile {
  display: none; }
  .main-mobile .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.95); }
    .main-mobile .overlay .overlay-wrapper {
      padding: 50px; }
      @media screen and (min-width: 768px) {
        .main-mobile .overlay .overlay-wrapper {
          padding: 70px 50px; } }
    .main-mobile .overlay .navigation a {
      display: block;
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin-bottom: 20px;
      font-weight: bold; }
      @media screen and (min-width: 768px) {
        .main-mobile .overlay .navigation a {
          font-size: 1.25em;
          margin-bottom: 30px; } }
    .main-mobile .overlay .social-links {
      padding-top: 20px; }
    .main-mobile .overlay .menu-cart-menu-container {
      display: none; }

section.banner {
  width: calc(100% + 16px);
  left: -8px; }
  section.banner:before, section.banner:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 0.125rem;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    z-index: 20; }
  section.banner:before {
    left: 6px; }
  section.banner:after {
    right: 6px; }
  section.banner .wrapper {
    padding: 0; }
  section.banner .banner-entry + .banner-entry {
    padding-top: 2px; }
  section.banner a {
    display: block;
    z-index: 10;
    position: relative; }
  section.banner .mobile {
    display: block; }
    @media screen and (min-width: 768px) {
      section.banner .mobile {
        display: none; } }
  section.banner .desktop {
    display: none; }
    @media screen and (min-width: 768px) {
      section.banner .desktop {
        display: block; } }

body.nav-overlay-open {
  overflow: hidden; }
  body.nav-overlay-open .main-mobile {
    display: block; }
    @media screen and (min-width: 1024px) {
      body.nav-overlay-open .main-mobile {
        display: none; } }
  body.nav-overlay-open .site-header .hamburger {
    position: absolute;
    z-index: 1000;
    right: 10px; }
    @media screen and (min-width: 568px) {
      body.nav-overlay-open .site-header .hamburger {
        right: 25px; } }
    body.nav-overlay-open .site-header .hamburger .nav-trigger .patty {
      background: none; }
      body.nav-overlay-open .site-header .hamburger .nav-trigger .patty:after {
        top: 0;
        transform: rotate(45deg); }
      body.nav-overlay-open .site-header .hamburger .nav-trigger .patty:before {
        top: 0;
        transform: rotate(-45deg); }

.site-footer {
  background: url(images/marble.jpg) no-repeat center center;
  background-size: cover;
  padding: 50px 0; }
  @media screen and (min-width: 768px) {
    .site-footer {
      padding: 100px 0 50px 0; } }
  .site-footer .site-name {
    text-align: center; }
    .site-footer .site-name h1 {
      font-family: "Euro Bodoni", serif;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 1.25em; }
      @media screen and (min-width: 768px) {
        .site-footer .site-name h1 {
          font-size: 1.5em; } }
  .site-footer .contact-info {
    text-align: center;
    padding: 50px 0; }
    @media screen and (min-width: 1024px) {
      .site-footer .contact-info {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; } }
    .site-footer .contact-info a {
      font-family: "Clarke Regular", sans-serif;
      text-transform: uppercase;
      font-size: 1.25em;
      letter-spacing: 0.05em;
      display: block; }
      @media screen and (min-width: 1280px) {
        .site-footer .contact-info a {
          font-size: 1.5em; } }
      .site-footer .contact-info a:hover {
        text-decoration: underline; }
    @media screen and (min-width: 768px) {
      .site-footer .contact-info .locations {
        display: flex;
        align-items: center;
        justify-content: center; } }
    @media screen and (min-width: 768px) {
      .site-footer .contact-info .locations .location {
        display: flex;
        align-items: center; } }
    .site-footer .contact-info .locations .location:first-of-type:before {
      content: "Locations: ";
      font-family: "Clarke Regular", sans-serif;
      text-transform: uppercase;
      font-size: 1.25em;
      letter-spacing: 0.05em;
      display: block;
      margin: 0 0 10px 0; }
      @media screen and (min-width: 768px) {
        .site-footer .contact-info .locations .location:first-of-type:before {
          margin: 2px 10px 0 0; } }
    .site-footer .contact-info .locations .location + .location {
      padding-top: 10px; }
      @media screen and (min-width: 768px) {
        .site-footer .contact-info .locations .location + .location {
          padding-top: 0; }
          .site-footer .contact-info .locations .location + .location:before {
            content: '+';
            font-weight: bold;
            margin: 0 10px; } }
    .site-footer .contact-info .phone {
      padding: 30px 0; }
      @media screen and (min-width: 1024px) {
        .site-footer .contact-info .phone {
          padding: 0 50px; } }
  .site-footer .gift-card {
    text-align: center;
    padding-bottom: 50px; }
    @media screen and (min-width: 1280px) {
      .site-footer .gift-card {
        padding-bottom: 0; } }
  .site-footer .ornament img {
    margin: 0 auto;
    max-width: 50px; }
    @media screen and (min-width: 768px) {
      .site-footer .ornament img {
        max-width: 75px; } }
  @media screen and (min-width: 1280px) {
    .site-footer .ornament {
      position: absolute;
      right: 25px;
      top: 0; } }

/*

    ----------------------------------------------------------------------
                               03 Partials
    ----------------------------------------------------------------------

*/
.social-links {
  display: flex;
  align-items: center; }
  .social-links a {
    display: block; }
    .social-links a + a {
      margin-left: 20px; }
    @media screen and (min-width: 1024px) {
      .social-links a + a {
        margin-left: 50px; } }
    .social-links a img {
      max-height: 16px; }
      @media screen and (min-width: 1024px) {
        .social-links a img {
          max-height: 20px; } }

section.page-header {
  text-align: center;
  padding: 50px 0 10px 0; }
  section.page-header h1 {
    text-transform: uppercase;
    font-family: "Euro Bodoni", serif;
    font-weight: normal;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    display: inline-block;
    border-bottom: 3px solid;
    padding-bottom: 10px; }
    @media screen and (min-width: 768px) {
      section.page-header h1 {
        font-size: 2.5em; } }
  section.page-header .copy.p1 {
    padding-top: 25px; }
    section.page-header .copy.p1 p {
      font-size: 1.5rem;
      line-height: 1.125em;
      font-family: "Underwood", serif;
      letter-spacing: 0.01em; }

/*

    ----------------------------------------------------------------------
                                04 Templates
    ----------------------------------------------------------------------

*/
body.page-template-homepage section.hero .hero-logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center; }
  body.page-template-homepage section.hero .hero-logo img {
    max-width: 200px; }
    @media screen and (min-width: 568px) {
      body.page-template-homepage section.hero .hero-logo img {
        max-width: 400px; } }
    @media screen and (min-width: 1024px) {
      body.page-template-homepage section.hero .hero-logo img {
        max-width: 500px; } }

body.page-template-homepage section.hero .hero-quote {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Clarke Regular", sans-serif;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.1em; }
  @media screen and (min-width: 568px) {
    body.page-template-homepage section.hero .hero-quote {
      font-size: 0.8125em; } }
  @media screen and (min-width: 768px) {
    body.page-template-homepage section.hero .hero-quote {
      top: 0;
      left: 0;
      justify-content: flex-end;
      font-size: 0.75rem; } }
  body.page-template-homepage section.hero .hero-quote .quote {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px; }
    @media screen and (min-width: 768px) {
      body.page-template-homepage section.hero .hero-quote .quote {
        transform: rotate(-90deg) translate(80px, 110px);
        padding-bottom: 0;
        position: absolute;
        right: 0; } }
  body.page-template-homepage section.hero .hero-quote blockquote {
    padding: 0;
    margin: 0; }
    body.page-template-homepage section.hero .hero-quote blockquote p {
      font-weight: bold; }
  body.page-template-homepage section.hero .hero-quote cite {
    font-style: normal;
    font-weight: bold;
    padding-left: 5px; }
    @media screen and (min-width: 768px) {
      body.page-template-homepage section.hero .hero-quote cite {
        padding-left: 10px;
        transform: translate(0, 15px); } }

body.page-template-homepage section.hero .hero-image img {
  width: 100%; }

body.page-template-homepage section.photos {
  padding-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px; }
  @media screen and (min-width: 568px) {
    body.page-template-homepage section.photos {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }

body.page-template-homepage section.taglines {
  text-align: center;
  padding: 50px 0; }
  body.page-template-homepage section.taglines .wrapper {
    padding: 0 25px; }
  body.page-template-homepage section.taglines h2.tagline {
    font-family: "Euro Bodoni", serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.8125em;
    padding-bottom: 25px; }
    @media screen and (min-width: 568px) {
      body.page-template-homepage section.taglines h2.tagline {
        font-size: 1.25em; } }
    @media screen and (min-width: 1024px) {
      body.page-template-homepage section.taglines h2.tagline {
        font-size: 1.75em; } }
  body.page-template-homepage section.taglines h3.tagline {
    font-family: "FG Rakel", cursive;
    font-size: 1.5em;
    font-weight: normal; }
    @media screen and (min-width: 568px) {
      body.page-template-homepage section.taglines h3.tagline {
        font-size: 2em; } }
    @media screen and (min-width: 1024px) {
      body.page-template-homepage section.taglines h3.tagline {
        font-size: 3em; } }

body.page-template-menu section.menu-nav {
  padding: 15px 0 50px 0; }
  body.page-template-menu section.menu-nav .menu-jump-nav {
    text-align: center; }
    @media screen and (min-width: 768px) {
      body.page-template-menu section.menu-nav .menu-jump-nav {
        display: flex;
        justify-content: center; } }
    body.page-template-menu section.menu-nav .menu-jump-nav a {
      display: block;
      color: #211E1F;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-family: "Clarke Regular", sans-serif;
      font-weight: 400;
      font-size: 1.25em; }
      @media screen and (min-width: 768px) {
        body.page-template-menu section.menu-nav .menu-jump-nav a {
          font-size: 1.5em; } }
      body.page-template-menu section.menu-nav .menu-jump-nav a + a {
        margin: 20px 0 0 0; }
        @media screen and (min-width: 768px) {
          body.page-template-menu section.menu-nav .menu-jump-nav a + a {
            margin: 0 0 0 25px; } }
      body.page-template-menu section.menu-nav .menu-jump-nav a:hover {
        text-decoration: underline; }

body.page-template-menu section.edition {
  text-align: center;
  padding-bottom: 25px; }
  @media screen and (min-width: 768px) {
    body.page-template-menu section.edition {
      text-align: right; } }
  body.page-template-menu section.edition h2 {
    color: #b3c5b0;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: normal;
    letter-spacing: 0.2em; }
    @media screen and (min-width: 768px) {
      body.page-template-menu section.edition h2 {
        margin-right: 15%;
        font-size: 2em; } }

body.page-template-menu section.menu img {
  margin: 0 auto; }

body.page-template-menu section.menu + section.menu {
  padding: 50px 0 0 0; }

body.page-template-menu section.menu .mobile {
  display: block; }
  @media screen and (min-width: 768px) {
    body.page-template-menu section.menu .mobile {
      display: none; } }

body.page-template-menu section.menu .desktop {
  display: none; }
  @media screen and (min-width: 768px) {
    body.page-template-menu section.menu .desktop {
      display: block; } }

body.page-template-happenings section#events {
  padding: 50px 0 100px 0; }
  body.page-template-happenings section#events .wrapper {
    max-width: 960px;
    padding: 0 50px; }
  body.page-template-happenings section#events .event + .event:before {
    display: block;
    content: '';
    width: 100%;
    margin: 50px 0;
    border-top: 1px solid #000; }
    @media screen and (min-width: 1024px) {
      body.page-template-happenings section#events .event + .event:before {
        width: calc(66.6666% - 25px);
        margin: 75px 0;
        margin-left: auto; } }
  body.page-template-happenings section#events .event .event-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  body.page-template-happenings section#events .event .photo {
    width: 100%; }
    @media screen and (min-width: 768px) {
      body.page-template-happenings section#events .event .photo {
        width: calc(50% - 25px); } }
    @media screen and (min-width: 1024px) {
      body.page-template-happenings section#events .event .photo {
        width: calc(33.3333% - 25px); } }
  body.page-template-happenings section#events .event .info {
    width: 100%;
    padding: 25px 0 0 0; }
    @media screen and (min-width: 768px) {
      body.page-template-happenings section#events .event .info {
        width: calc(50% - 25px);
        padding: 0; } }
    @media screen and (min-width: 1024px) {
      body.page-template-happenings section#events .event .info {
        width: calc(66.6666% - 25px); } }
    body.page-template-happenings section#events .event .info .header h3 {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 1em;
      padding: 0 0 15px 0; }
      @media screen and (min-width: 768px) {
        body.page-template-happenings section#events .event .info .header h3 {
          font-size: 1.5em; } }
    body.page-template-happenings section#events .event .info .header h2 {
      text-transform: uppercase;
      letter-spacing: 0.2em;
      padding: 0 0 20px 0;
      font-size: 1.5em;
      line-height: 1.25em;
      font-weight: normal;
      font-family: "Euro Bodoni", serif; }
      @media screen and (min-width: 768px) {
        body.page-template-happenings section#events .event .info .header h2 {
          font-size: 2em; } }
    body.page-template-happenings section#events .event .info .header h4 {
      text-transform: uppercase;
      letter-spacing: 0.2em;
      padding: 0 0 15px 0;
      font-size: 1.125em;
      color: #b3c5b0;
      font-weight: normal; }
      @media screen and (min-width: 768px) {
        body.page-template-happenings section#events .event .info .header h4 {
          font-size: 1.5em; } }
    body.page-template-happenings section#events .event .info .body {
      padding: 0 0 10px 0; }
      @media screen and (min-width: 768px) {
        body.page-template-happenings section#events .event .info .body {
          padding: 0 0 20px 0; } }
      body.page-template-happenings section#events .event .info .body p {
        font-size: 1em;
        line-height: 1.5em;
        font-family: "Gotham Light", sans-serif; }
        @media screen and (min-width: 1024px) {
          body.page-template-happenings section#events .event .info .body p {
            font-size: 1.125em; } }
        body.page-template-happenings section#events .event .info .body p + p {
          padding-top: 20px; }
    body.page-template-happenings section#events .event .info .footer h4 {
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: 1em;
      padding: 0 0 20px 0;
      font-weight: normal; }
      @media screen and (min-width: 768px) {
        body.page-template-happenings section#events .event .info .footer h4 {
          font-size: 1.25em; } }
    body.page-template-happenings section#events .event .info .footer .link + .link {
      padding-top: 0.75rem; }

body.page-template-host-an-event section.photos {
  padding: 50px 0 0 0; }
  body.page-template-host-an-event section.photos .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  body.page-template-host-an-event section.photos .main {
    width: 100%;
    margin-bottom: 10px; }
  body.page-template-host-an-event section.photos .left {
    width: calc(66.6666% - 5px); }
  body.page-template-host-an-event section.photos .right {
    width: calc(33.3333% - 5px); }
  body.page-template-host-an-event section.photos img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

body.page-template-host-an-event section.letter {
  padding: 50px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-host-an-event section.letter {
      padding: 100px 0; } }
  body.page-template-host-an-event section.letter .wrapper {
    max-width: 800px;
    padding: 0 50px; }
  body.page-template-host-an-event section.letter .copy pre {
    font-family: "Underwood", serif;
    letter-spacing: 0.1em;
    font-size: 1em;
    line-height: 1.5em;
    white-space: normal; }
    @media screen and (min-width: 768px) {
      body.page-template-host-an-event section.letter .copy pre {
        white-space: pre; } }
  body.page-template-host-an-event section.letter .copy p {
    font-family: "Underwood", serif;
    letter-spacing: 0.1em;
    font-size: 1em;
    line-height: 1.5em; }
    body.page-template-host-an-event section.letter .copy p + p {
      padding-top: 25px; }
    body.page-template-host-an-event section.letter .copy p a {
      text-decoration: underline; }
  body.page-template-host-an-event section.letter .signature {
    padding: 25px 0 0 0;
    max-width: 200px; }
  body.page-template-host-an-event section.letter .cta {
    padding-top: 75px;
    text-align: center; }

body.page-template-host-an-event section.experiences {
  padding-bottom: 50px; }
  @media screen and (min-width: 768px) {
    body.page-template-host-an-event section.experiences {
      padding-bottom: 100px; } }
  body.page-template-host-an-event section.experiences .headline.section-header {
    text-align: center; }
    body.page-template-host-an-event section.experiences .headline.section-header h2 {
      letter-spacing: 0.15em;
      font-size: 1.25em;
      color: #b3c5b0;
      text-transform: uppercase;
      font-weight: normal; }
      @media screen and (min-width: 768px) {
        body.page-template-host-an-event section.experiences .headline.section-header h2 {
          font-size: 1.5em; } }
  body.page-template-host-an-event section.experiences .copy.p4 {
    padding: 25px 0;
    text-align: center; }
    body.page-template-host-an-event section.experiences .copy.p4 p {
      font-size: 0.875em;
      line-height: 1.5em;
      font-family: "Gotham Light", sans-serif;
      letter-spacing: 0.05em; }
      body.page-template-host-an-event section.experiences .copy.p4 p + p {
        padding-top: 20px; }
      body.page-template-host-an-event section.experiences .copy.p4 p a {
        text-decoration: underline; }
  body.page-template-host-an-event section.experiences .options {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px 20px; }
    @media screen and (min-width: 768px) {
      body.page-template-host-an-event section.experiences .options {
        grid-template-columns: 1fr 1fr; } }
    @media screen and (min-width: 568px) {
      body.page-template-host-an-event section.experiences .options .option {
        display: flex;
        justify-content: space-between; }
        body.page-template-host-an-event section.experiences .options .option .photo, body.page-template-host-an-event section.experiences .options .option .info {
          width: calc(50% - 10px); } }
    @media screen and (min-width: 768px) {
      body.page-template-host-an-event section.experiences .options .option {
        display: block;
        justify-content: space-between; }
        body.page-template-host-an-event section.experiences .options .option .photo, body.page-template-host-an-event section.experiences .options .option .info {
          width: 100%; } }
    @media screen and (min-width: 1024px) {
      body.page-template-host-an-event section.experiences .options .option {
        display: flex;
        justify-content: space-between; }
        body.page-template-host-an-event section.experiences .options .option .photo, body.page-template-host-an-event section.experiences .options .option .info {
          width: calc(50% - 10px); } }
    body.page-template-host-an-event section.experiences .options .option .info {
      padding-top: 25px; }
      @media screen and (min-width: 568px) {
        body.page-template-host-an-event section.experiences .options .option .info {
          padding-top: 10px; } }
      @media screen and (min-width: 768px) {
        body.page-template-host-an-event section.experiences .options .option .info {
          padding-top: 20px; } }
      @media screen and (min-width: 1024px) {
        body.page-template-host-an-event section.experiences .options .option .info {
          padding-top: 10px; } }
    body.page-template-host-an-event section.experiences .options .option .headline {
      padding-bottom: 20px; }
      body.page-template-host-an-event section.experiences .options .option .headline h3 {
        font-family: "Euro Bodoni", serif;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 0.2em;
        font-size: 1.5em; }
    body.page-template-host-an-event section.experiences .options .option .copy {
      font-family: "Clarke Regular", sans-serif;
      text-transform: uppercase;
      font-size: 1.125em; }
      body.page-template-host-an-event section.experiences .options .option .copy ul {
        padding: 0 0 0 20px; }
      body.page-template-host-an-event section.experiences .options .option .copy li {
        list-style-type: disc; }
        body.page-template-host-an-event section.experiences .options .option .copy li + li {
          padding-top: 10px; }

body.page-template-gallery section#gallery {
  padding: 50px 0 50px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-gallery section#gallery {
      padding: 50px 0 100px 0; } }
  body.page-template-gallery section#gallery .caption {
    padding: 50px 0 0 0;
    text-align: center; }
    body.page-template-gallery section#gallery .caption p {
      font-family: "Underwood", serif;
      letter-spacing: 0.1em;
      font-size: 1em;
      line-height: 1.5em; }
      body.page-template-gallery section#gallery .caption p + p {
        padding-top: 20px; }
      body.page-template-gallery section#gallery .caption p a {
        text-decoration: underline; }

body.page-template-gallery .jp-carousel-info,
body.page-template-gallery .jp-carousel-left-column-wrapper {
  display: none; }

body.page-template-gallery .jp-carousel-overlay {
  opacity: 0.98 !important; }

body.page-template-gallery .jp-carousel-close-hint span {
  font-size: 48px !important;
  height: 48px; }

body.page-template-coffee section.hero {
  padding-top: 50px; }
  body.page-template-coffee section.hero .video {
    aspect-ratio: 16 / 9; }
    body.page-template-coffee section.hero .video iframe {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

body.page-template-coffee section.about {
  padding: 50px 0 0 0; }
  @media screen and (min-width: 768px) {
    body.page-template-coffee section.about {
      padding-top: 100px; } }
  body.page-template-coffee section.about .wrapper {
    max-width: 960px;
    padding: 0 50px; }
  body.page-template-coffee section.about .copy p {
    font-family: "Underwood", serif;
    letter-spacing: 0.1em;
    font-size: 1em;
    line-height: 1.5em; }
    body.page-template-coffee section.about .copy p + p {
      padding-top: 25px; }
    body.page-template-coffee section.about .copy p a {
      text-decoration: underline; }
  body.page-template-coffee section.about .photo {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 100px; }

body.page-template-coffee section.featured-roaster {
  margin: 50px 0;
  min-height: 66vh; }
  body.page-template-coffee section.featured-roaster:before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 66vh 92vw 0 0;
    border-color: #b3c5b0 transparent transparent transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1; }
  @media screen and (min-width: 768px) {
    body.page-template-coffee section.featured-roaster {
      margin: 150px 0 100px 0; }
      body.page-template-coffee section.featured-roaster:before {
        border-width: 900px 80vw 0 0; } }
  body.page-template-coffee section.featured-roaster .wrapper {
    max-width: 1200px; }
  body.page-template-coffee section.featured-roaster .roaster-wrapper {
    padding: 50px 0 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; }
    @media screen and (min-width: 768px) {
      body.page-template-coffee section.featured-roaster .roaster-wrapper {
        padding: 100px 0 0 0; } }
  body.page-template-coffee section.featured-roaster .section-header {
    width: 100%;
    padding-bottom: 50px; }
    body.page-template-coffee section.featured-roaster .section-header h2 {
      color: #fff;
      font-weight: normal;
      font-family: "Euro Bodoni", serif;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      line-height: 1.75em;
      text-align: center; }
      @media screen and (min-width: 768px) {
        body.page-template-coffee section.featured-roaster .section-header h2 {
          max-width: calc(50% - 25px);
          font-size: 2.25em; } }
      body.page-template-coffee section.featured-roaster .section-header h2:after {
        content: ":::";
        display: block;
        text-align: center;
        font-size: 1.5em;
        font-weight: normal;
        padding-top: 20px; }
  body.page-template-coffee section.featured-roaster .info {
    width: 100%; }
    @media screen and (min-width: 568px) {
      body.page-template-coffee section.featured-roaster .info {
        width: calc(50% - 25px); } }
    body.page-template-coffee section.featured-roaster .info .copy {
      max-width: 300px;
      margin: 0 auto;
      font-family: "Underwood", serif; }
      body.page-template-coffee section.featured-roaster .info .copy p {
        font-size: 1em;
        line-height: 1.5em; }
    body.page-template-coffee section.featured-roaster .info .cta {
      max-width: 300px;
      margin: 0 auto;
      text-align: center;
      padding-top: 50px; }
      body.page-template-coffee section.featured-roaster .info .cta a.btn {
        display: block;
        width: 100%;
        font-size: 1em; }
  body.page-template-coffee section.featured-roaster .logo {
    width: 100%; }
    @media screen and (min-width: 568px) {
      body.page-template-coffee section.featured-roaster .logo {
        width: calc(50% - 25px); } }
    body.page-template-coffee section.featured-roaster .logo a {
      display: block; }
    body.page-template-coffee section.featured-roaster .logo img {
      max-width: 300px;
      margin: 0 auto; }
      @media screen and (min-width: 1024px) {
        body.page-template-coffee section.featured-roaster .logo img {
          max-width: 400px; } }
    body.page-template-coffee section.featured-roaster .logo .timespan {
      padding-top: 25px;
      text-align: center; }
      body.page-template-coffee section.featured-roaster .logo .timespan h5 {
        letter-spacing: 0.15em;
        font-size: 1.25em;
        color: #b3c5b0;
        text-transform: uppercase;
        font-weight: normal; }
        @media screen and (min-width: 768px) {
          body.page-template-coffee section.featured-roaster .logo .timespan h5 {
            font-size: 1.5em; } }
  body.page-template-coffee section.featured-roaster .gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px 20px;
    padding: 50px 25px 0 25px;
    max-width: 870px;
    margin: 0 auto; }
    @media screen and (min-width: 568px) {
      body.page-template-coffee section.featured-roaster .gallery {
        grid-template-columns: 1fr 1fr;
        padding: 50px 0 0 0; } }
    @media screen and (min-width: 768px) {
      body.page-template-coffee section.featured-roaster .gallery {
        grid-template-columns: 1fr 1fr 1fr; } }

.bc-product-card .bc-quickview-trigger {
  border: none; }

.bc-quickview-trigger--hover {
  display: none; }

.bc-product-grid .bc-product__actions {
  display: none; }

@media screen and (max-width: 499px) {
  html .bc-product-grid--4col > .bc-product-card {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 15px);
    max-width: calc(50% - 15px);
    width: calc(50% - 15px);
    margin-bottom: 15px !important; } }

.main-shop {
  padding: 3rem 0; }

.shop-grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr); }
  @media screen and (min-width: 768px) {
    .shop-grid {
      grid-template-columns: repeat(3, 1fr); } }
  .shop-grid .photo a {
    display: block;
    position: relative; }
    .shop-grid .photo a:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 100%; }
    .shop-grid .photo a > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .shop-grid .photo a img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .shop-grid .text {
    background: #b3c5b0;
    text-align: center; }
    .shop-grid .text a {
      display: block;
      position: relative; }
      .shop-grid .text a:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 100%; }
      .shop-grid .text a > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    .shop-grid .text .content {
      display: flex;
      justify-content: center;
      align-items: center; }
    .shop-grid .text h3 {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.375em;
      font-weight: normal;
      font-size: 1.5rem;
      line-height: 1.25em; }
      @media screen and (min-width: 768px) {
        .shop-grid .text h3 {
          font-size: 2rem;
          line-height: 1.5em;
          letter-spacing: 0.5em; } }
  @media screen and (max-width: 767px) {
    .shop-grid .photo-2,
    .shop-grid .photo-4,
    .shop-grid .photo-6 {
      grid-column: 2; }
    .shop-grid .text-2 {
      grid-column: 1;
      grid-row: 2; }
    .shop-grid .text-4 {
      grid-column: 1;
      grid-row: 4; }
    .shop-grid .text-6 {
      grid-column: 1;
      grid-row: 6; } }

.shop-sub-nav {
  padding: 15px 0 0 0; }
  .shop-sub-nav .links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; }
  .shop-sub-nav .link {
    padding: 10px 15px; }
    .shop-sub-nav .link a {
      font-family: "Clarke Regular", sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: 1.25rem;
      text-decoration: none;
      border-bottom: 2px solid transparent; }
      @media screen and (min-width: 768px) {
        .shop-sub-nav .link a {
          font-size: 1.5rem; } }
      .shop-sub-nav .link a:hover, .shop-sub-nav .link a.active {
        border-bottom: 2px solid #211E1F; }

.bc-load-items *,
.bc-product-quick-view__content-inner *,
body.single-bigcommerce_product .bc-product-single *,
.bc-cart *,
.bc-wish-list-dialog-content *,
.bc-product-card--single * {
  font-family: "Gotham Light", sans-serif; }

.bc-product__title,
.bc-product__title a,
.bc-cart-item__product-title,
.bc-cart-item__product-title a {
  font-family: "Clarke Regular", sans-serif !important;
  font-size: 1.25rem !important;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: normal; }
  @media screen and (min-width: 1024px) {
    .bc-product__title,
    .bc-product__title a,
    .bc-cart-item__product-title,
    .bc-cart-item__product-title a {
      font-size: 1.5rem !important; } }

.bc-btn,
button.bc-btn,
a.bc-btn,
.entry-content .bc-btn,
.entry-content button.bc-btn,
.entry-content a.bc-btn,
.bc-mini-cart .bc-btn,
.bc-mini-cart button.bc-btn,
.bc-mini-cart a.bc-btn,
.bigcommerce-cart__item-count,
.bc-account-login__form input[type="submit"] {
  background: #211E1F !important;
  color: #fff !important;
  opacity: 1 !important;
  font-family: "Clarke Regular", sans-serif !important;
  font-size: 1.25rem !important;
  letter-spacing: 0.1em;
  font-weight: 400 !important;
  border: none !important; }
  .bc-btn:hover,
  button.bc-btn:hover,
  a.bc-btn:hover,
  .entry-content .bc-btn:hover,
  .entry-content button.bc-btn:hover,
  .entry-content a.bc-btn:hover,
  .bc-mini-cart .bc-btn:hover,
  .bc-mini-cart button.bc-btn:hover,
  .bc-mini-cart a.bc-btn:hover,
  .bigcommerce-cart__item-count:hover,
  .bc-account-login__form input[type="submit"]:hover {
    background: #b3c5b0 !important; }

.bc-btn--inverse, button.bc-btn--inverse {
  border: none; }

html .bc-link {
  color: #211E1F;
  text-decoration: underline; }

html input.bc-product-form__quantity-input[type=number],
html .bc-cart-item-quantity input.bc-cart-item__quantity-input {
  width: 50px;
  height: 40px; }

html .bc-alert--success {
  background: #fff;
  border: 2px solid #211E1F;
  color: #211E1F; }

html .bc-cart-header > div {
  padding: 20px 0; }

html .bc-cart-item__remove-button {
  font-size: 0.75rem;
  font-weight: normal;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  text-decoration: none;
  color: #211E1F;
  text-decoration: underline; }
  html .bc-cart-item__remove-button:hover {
    text-decoration: underline;
    color: #211E1F; }

html .bc-product-grid > .bc-product-card {
  margin-bottom: 30px; }

html .bc-product__brand {
  margin-bottom: 10px;
  font-size: 0.6125rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #7B7977; }

html .bc-product__title {
  margin-bottom: 5px; }

html .bc-product__pricing,
html .bc-product-price,
html .bc-product__retail-price,
html .bc-product__original-price,
html .bc-product__price {
  font-size: 0.8125rem;
  font-weight: bold; }
  @media screen and (min-width: 1024px) {
    html .bc-product__pricing,
    html .bc-product-price,
    html .bc-product__retail-price,
    html .bc-product__original-price,
    html .bc-product__price {
      font-size: 1rem; } }

html .bc-product__pricing {
  justify-content: center; }

html .bc-product__meta {
  padding: 10px 0 25px 0;
  text-align: center; }

html .bc-product__description p + p {
  padding-top: 15px; }

html .bc-single-product__reviews,
html .bc-single-product__ratings {
  display: none; }

html .bc-product-quick-view__wrapper .bc-product__meta,
html .bc-product-single .bc-product__meta {
  text-align: left;
  margin-bottom: 20px; }

html .bc-product-quick-view__wrapper .bc-product__pricing,
html .bc-product-single .bc-product__pricing {
  justify-content: flex-start; }

html .bc-product-single__meta .bc-product__title {
  font-weight: 400; }

body.single-bigcommerce_product .bc-product-single {
  padding-top: 50px;
  max-width: 1200px; }
  body.single-bigcommerce_product .bc-product-single .bc-single-product__related {
    padding-bottom: 50px; }

body.page-template-shop .bc-shortcode-product-grid-wrapper {
  margin-top: -25px; }
  @media screen and (min-width: 1024px) {
    body.page-template-shop .bc-shortcode-product-grid-wrapper {
      margin-top: 0; } }

body.page-template-shop section.shop-info {
  padding: 15px 0 50px 0; }
  body.page-template-shop section.shop-info .copy {
    font-family: "Underwood", serif;
    line-height: 1.5em;
    font-size: 1rem;
    max-width: 800px;
    padding: 25px 25px 0 25px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      body.page-template-shop section.shop-info .copy {
        font-size: 1.125rem;
        padding: 50px 25px 0 25px; } }
    body.page-template-shop section.shop-info .copy p + p {
      padding-top: 15px; }

body.page-template-shop section.shop .wrapper {
  text-align: center; }
  body.page-template-shop section.shop .wrapper > h2 {
    text-align: center;
    font-weight: normal;
    padding: 50px 0 5px 0;
    border-bottom: 1px solid;
    margin-bottom: 25px;
    font-family: "Euro Bodoni", serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.125rem;
    display: inline-block; }
    @media screen and (min-width: 768px) {
      body.page-template-shop section.shop .wrapper > h2 {
        font-size: 1.375rem; } }
  body.page-template-shop section.shop .wrapper .bc-shortcode-product-grid-wrapper {
    text-align: left; }

body .bc-cart {
  padding-bottom: 50px; }
  body .bc-cart .bc-cart__title--empty {
    padding-bottom: 20px; }
  body .bc-cart .bc-cart__continue-shopping:hover {
    text-decoration: underline; }

body .bc-account-page,
body .bc-gift-page {
  border-top: none;
  border-bottom: none;
  padding: 100px 0 0 0; }
  body .bc-account-page > form,
  body .bc-account-page > div,
  body .bc-gift-page > form,
  body .bc-gift-page > div {
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 50px; }
  body .bc-account-page .bc-form .bc-form__actions,
  body .bc-gift-page .bc-form .bc-form__actions {
    margin-top: 0; }
  body .bc-account-page .bc-account-form--register label,
  body .bc-account-page .bc-account-form--profile label,
  body .bc-account-page .bc-gift-purchase__form label,
  body .bc-gift-page .bc-account-form--register label,
  body .bc-gift-page .bc-account-form--profile label,
  body .bc-gift-page .bc-gift-purchase__form label {
    margin-bottom: 25px; }
  body .bc-account-page .bc-account-form--register .bc-form__label,
  body .bc-account-page .bc-account-form--profile .bc-form__label,
  body .bc-account-page .bc-gift-purchase__form .bc-form__label,
  body .bc-gift-page .bc-account-form--register .bc-form__label,
  body .bc-gift-page .bc-account-form--profile .bc-form__label,
  body .bc-gift-page .bc-gift-purchase__form .bc-form__label {
    font-family: "Clarke Regular", sans-serif;
    text-transform: uppercase;
    margin-bottom: 3px;
    font-size: 1.25rem; }
  body .bc-account-page .bc-account-form--register input[type="text"],
  body .bc-account-page .bc-account-form--register input[type="email"],
  body .bc-account-page .bc-account-form--register input[type="password"],
  body .bc-account-page .bc-account-form--profile input[type="text"],
  body .bc-account-page .bc-account-form--profile input[type="email"],
  body .bc-account-page .bc-account-form--profile input[type="password"],
  body .bc-account-page .bc-gift-purchase__form input[type="text"],
  body .bc-account-page .bc-gift-purchase__form input[type="email"],
  body .bc-account-page .bc-gift-purchase__form input[type="password"],
  body .bc-gift-page .bc-account-form--register input[type="text"],
  body .bc-gift-page .bc-account-form--register input[type="email"],
  body .bc-gift-page .bc-account-form--register input[type="password"],
  body .bc-gift-page .bc-account-form--profile input[type="text"],
  body .bc-gift-page .bc-account-form--profile input[type="email"],
  body .bc-gift-page .bc-account-form--profile input[type="password"],
  body .bc-gift-page .bc-gift-purchase__form input[type="text"],
  body .bc-gift-page .bc-gift-purchase__form input[type="email"],
  body .bc-gift-page .bc-gift-purchase__form input[type="password"] {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-family: "Clarke Regular", sans-serif;
    font-size: 1.25rem;
    padding: 0 5px; }
  body .bc-account-page .bc-account-login__form p,
  body .bc-gift-page .bc-account-login__form p {
    padding: 0;
    margin: 0; }
    body .bc-account-page .bc-account-login__form p + p,
    body .bc-gift-page .bc-account-login__form p + p {
      padding-top: 25px; }
    body .bc-account-page .bc-account-login__form p.login-remember,
    body .bc-gift-page .bc-account-login__form p.login-remember {
      padding-top: 10px; }
      body .bc-account-page .bc-account-login__form p.login-remember label,
      body .bc-gift-page .bc-account-login__form p.login-remember label {
        display: flex;
        align-items: center;
        justify-content: flex-start; }
        body .bc-account-page .bc-account-login__form p.login-remember label input[type="checkbox"],
        body .bc-gift-page .bc-account-login__form p.login-remember label input[type="checkbox"] {
          margin-right: 10px;
          transform: translateY(-2px); }
  body .bc-account-page .bc-account-login__form a[title="Forgot Password"],
  body .bc-gift-page .bc-account-login__form a[title="Forgot Password"] {
    font-family: "Clarke Regular", sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    display: inline-block;
    margin-top: 10px; }
    body .bc-account-page .bc-account-login__form a[title="Forgot Password"]:hover,
    body .bc-gift-page .bc-account-login__form a[title="Forgot Password"]:hover {
      text-decoration: underline; }
  body .bc-account-page .bc-account-login__form label,
  body .bc-gift-page .bc-account-login__form label {
    font-family: "Clarke Regular", sans-serif;
    text-transform: uppercase;
    margin-bottom: 3px;
    font-size: 1.25rem; }
  body .bc-account-page .bc-account-login__form input[type="text"],
  body .bc-account-page .bc-account-login__form input[type="email"],
  body .bc-account-page .bc-account-login__form input[type="password"],
  body .bc-gift-page .bc-account-login__form input[type="text"],
  body .bc-gift-page .bc-account-login__form input[type="email"],
  body .bc-gift-page .bc-account-login__form input[type="password"] {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-family: "Clarke Regular", sans-serif;
    font-size: 1.25rem;
    padding: 0 5px; }
  body .bc-account-page .bc-account-login__register-title,
  body .bc-gift-page .bc-account-login__register-title {
    font-family: "Clarke Regular", sans-serif;
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: normal;
    padding-bottom: 25px; }
  body .bc-account-page .bc-account-login__register p, body .bc-account-page .bc-account-login__register ul,
  body .bc-gift-page .bc-account-login__register p,
  body .bc-gift-page .bc-account-login__register ul {
    font-family: "Underwood", serif;
    letter-spacing: 0.1em;
    font-size: 1em;
    line-height: 1.5em; }
    body .bc-account-page .bc-account-login__register p + p,
    body .bc-account-page .bc-account-login__register p + ul, body .bc-account-page .bc-account-login__register ul + p,
    body .bc-account-page .bc-account-login__register ul + ul,
    body .bc-gift-page .bc-account-login__register p + p,
    body .bc-gift-page .bc-account-login__register p + ul,
    body .bc-gift-page .bc-account-login__register ul + p,
    body .bc-gift-page .bc-account-login__register ul + ul {
      padding-top: 15px; }
  body .bc-account-page .bc-account-login__register ul,
  body .bc-gift-page .bc-account-login__register ul {
    list-style-type: disc;
    padding-left: 20px; }
  body .bc-account-page .bc-account-login__register .bc-btn--register,
  body .bc-gift-page .bc-account-login__register .bc-btn--register {
    margin-top: 25px; }

body .bc-account-addresses__add-button,
body button.bc-account-addresses__add-button {
  font-family: "Clarke Regular", sans-serif !important;
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em; }

body .bc-subnav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 25px; }
  body .bc-subnav__list {
    width: auto; }
    body .bc-subnav__list-item {
      font-family: "Underwood", serif;
      letter-spacing: 0.1em;
      font-size: 1em; }
      body .bc-subnav__list-item .bc-link {
        text-decoration: none;
        border-bottom: 2px solid transparent; }
        body .bc-subnav__list-item .bc-link:hover {
          border-bottom: 2px solid #211E1F; }
      body .bc-subnav__list-item--current .bc-subnav__link {
        color: #000;
        border-color: #000; }
        body .bc-subnav__list-item--current .bc-subnav__link:hover {
          border-color: #000; }

.bc-account-addresses form.bc-form label {
  margin-bottom: 25px; }

.bc-account-addresses form.bc-form .bc-form__label {
  font-family: "Clarke Regular", sans-serif;
  text-transform: uppercase;
  margin-bottom: 3px;
  font-size: 1.25rem; }

.bc-account-addresses form.bc-form input[type="text"],
.bc-account-addresses form.bc-form input[type="email"],
.bc-account-addresses form.bc-form input[type="password"] {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-family: "Clarke Regular", sans-serif;
  font-size: 1.25rem;
  padding: 0 5px; }

.bc-wish-list-dialog-content {
  max-width: 600px; }
  .bc-wish-list-dialog-content .bc-wish-list-name-field {
    height: 40px;
    line-height: 40px;
    padding: 0 5px; }
  .bc-wish-list-dialog-content .bc-btn--form-submit {
    margin-top: 50px; }

body .bc-gift-page {
  padding-top: 50px; }
  body .bc-gift-page .bc-gift-balance,
  body .bc-gift-page .bc-gift-purchase__form {
    border-bottom: 2px solid #211E1F;
    margin-bottom: 50px; }
  body .bc-gift-page .bc-gift-balance__form h3 {
    font-family: "Clarke Regular", sans-serif;
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: normal;
    padding-bottom: 25px; }
  body .bc-gift-page .bc-gift-balance__form p {
    font-family: "Gotham Light", sans-serif;
    letter-spacing: 0.1em;
    font-size: 1em;
    line-height: 1.5em;
    padding-bottom: 15px; }
  body .bc-gift-page .bc-gift-balance__form .bc-form__label {
    font-family: "Clarke Regular", sans-serif;
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: 0.05em; }

body .bc-gift-instructions {
  padding-bottom: 50px;
  max-width: 960px;
  margin: 0 auto; }
  body .bc-gift-instructions h3 {
    font-family: "Clarke Regular", sans-serif;
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: normal;
    padding-bottom: 25px; }
  body .bc-gift-instructions p, body .bc-gift-instructions ul, body .bc-gift-instructions ol {
    font-family: "Gotham Light", sans-serif;
    letter-spacing: 0.1em;
    font-size: 1em;
    line-height: 1.5em;
    padding-bottom: 15px; }
  body .bc-gift-instructions ul {
    list-style-type: disc;
    padding-left: 20px; }
  body .bc-gift-instructions ol {
    list-style-type: decimal;
    padding-left: 20px; }

body.page-template-default section.shop .wrapper > p {
  max-width: 640px;
  margin: 0 auto;
  font-family: "Gotham Light", sans-serif;
  letter-spacing: 0.1em;
  font-size: 1em;
  line-height: 1.5em;
  padding-top: 25px; }
  body.page-template-default section.shop .wrapper > p a {
    color: #000;
    text-decoration: underline;
    font-weight: bold; }

.menu-cart-menu-container {
  position: absolute;
  right: 60px; }
  @media screen and (min-width: 568px) {
    .menu-cart-menu-container {
      right: 85px; } }
  @media screen and (min-width: 1024px) {
    .menu-cart-menu-container {
      top: -40px;
      right: 10px; } }
  .menu-cart-menu-container .menu-item-bigcommerce-cart a {
    padding: 0;
    margin: 0;
    font-family: "Gotham Light", sans-serif;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: transparent; }
    @media screen and (min-width: 350px) {
      .menu-cart-menu-container .menu-item-bigcommerce-cart a {
        color: #211E1F; } }
    .menu-cart-menu-container .menu-item-bigcommerce-cart a .bigcommerce-cart__item-count {
      margin-left: 5px;
      transform: scale(1); }
      .menu-cart-menu-container .menu-item-bigcommerce-cart a .bigcommerce-cart__item-count:before {
        content: '0'; }
      .menu-cart-menu-container .menu-item-bigcommerce-cart a .bigcommerce-cart__item-count.full:before {
        content: '';
        display: none; }
  .menu-cart-menu-container .bc-cart__empty {
    border-top: none;
    border-bottom: none; }
    .menu-cart-menu-container .bc-cart__empty .bc-cart__continue-shopping {
      display: block;
      margin-top: 25px; }

body .bc-mini-cart--nav-menu.bc-show-mini-cart-nav {
  z-index: 1000; }
  body .bc-mini-cart--nav-menu.bc-show-mini-cart-nav .bc-cart-item__product-title a {
    font-size: 1rem !important;
    padding: 0;
    margin: 0; }
  body .bc-mini-cart--nav-menu.bc-show-mini-cart-nav .bc-cart-item-total-price {
    padding-top: 10px; }
  body .bc-mini-cart--nav-menu.bc-show-mini-cart-nav .bc-cart-item__product-brand,
  body .bc-mini-cart--nav-menu.bc-show-mini-cart-nav .bc-cart-item__product-option {
    margin-top: 3px; }
  body .bc-mini-cart--nav-menu.bc-show-mini-cart-nav .bc-cart-actions form {
    text-align: center; }
  body .bc-mini-cart--nav-menu.bc-show-mini-cart-nav .bc-cart-actions__view-button {
    background: #fff !important;
    color: #211E1F !important;
    border: 1px solid #211E1F;
    font-size: 1rem !important;
    margin: 0 0 0 auto;
    max-width: 150px;
    padding: 15px 15px 12px 15px;
    display: inline-block; }
    body .bc-mini-cart--nav-menu.bc-show-mini-cart-nav .bc-cart-actions__view-button:hover {
      background: #211E1F !important;
      color: #fff !important; }

.bc-product-variant__label--pick-list {
  border-color: #d9d9d9;
  border-width: 2px;
  padding: 0.5rem 1rem;
  min-height: 3.5rem;
  transition: all 0.2s ease-in; }

.bc-product-variant__label--title {
  color: #424242;
  font-weight: 600;
  font-size: 0.875rem; }

.bc-product-variant__label img {
  transition: all 0.2s ease-in; }

.bc-product-form__control--pick-list input.bc-product-variant__radio--hidden:checked + .bc-product-variant__label .bc-product-variant__label--pick-list {
  border-color: #4d5e57;
  border-width: 2px;
  background: #F7F9F7; }
  .bc-product-form__control--pick-list input.bc-product-variant__radio--hidden:checked + .bc-product-variant__label .bc-product-variant__label--pick-list .bc-product-variant__label--title {
    color: #4d5e57; }
  .bc-product-form__control--pick-list input.bc-product-variant__radio--hidden:checked + .bc-product-variant__label .bc-product-variant__label--pick-list img {
    mix-blend-mode: multiply; }

body.page-template-locations .detail + .detail {
  padding-top: 25px; }

body.page-template-locations .detail h4 {
  text-transform: uppercase;
  font-size: 1.225em;
  letter-spacing: 0.075em;
  padding-bottom: 10px; }

body.page-template-locations .detail p {
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Gotham Light", sans-serif; }
  @media screen and (min-width: 1024px) {
    body.page-template-locations .detail p {
      font-size: 1.25em; } }

body.page-template-locations section.locations {
  padding: 50px 0; }
  body.page-template-locations section.locations .wrapper {
    padding: 0 50px;
    max-width: 960px; }
  body.page-template-locations section.locations .location + .location {
    margin-top: 50px;
    border-top: 1px solid #211E1F;
    padding-top: 50px; }
  body.page-template-locations section.locations .location .info {
    padding-top: 20px; }
  body.page-template-locations section.locations .location .headline {
    padding: 0 0 20px 0; }
    body.page-template-locations section.locations .location .headline h3 {
      font-family: "Euro Bodoni", serif;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-size: 1.5em;
      line-height: 1.25em;
      font-weight: normal; }
      @media screen and (min-width: 1024px) {
        body.page-template-locations section.locations .location .headline h3 {
          font-size: 2em; } }
  @media screen and (min-width: 768px) {
    body.page-template-locations section.locations .location {
      display: flex;
      justify-content: space-between; }
      body.page-template-locations section.locations .location .photo {
        width: calc(40% - 25px); }
      body.page-template-locations section.locations .location .info {
        padding-top: 10px;
        width: calc(60% - 25px); } }

body.page-template-locations section.contact-info {
  padding: 0 0 50px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-locations section.contact-info {
      padding: 50px 0 100px 0; }
      body.page-template-locations section.contact-info .info {
        width: calc(60% - 25px);
        margin-left: auto; } }
  body.page-template-locations section.contact-info .wrapper {
    padding: 0 50px;
    max-width: 960px; }
  body.page-template-locations section.contact-info .detail + .detail {
    padding-top: 40px; }

body.page-template-covid-19 header .hamburger {
  display: none; }

body.page-template-covid-19 header nav {
  display: none !important; }
  body.page-template-covid-19 header nav.open {
    display: block !important; }
    @media screen and (min-width: 768px) {
      body.page-template-covid-19 header nav.open {
        display: none !important; } }

body.page-template-covid-19 section.banner {
  padding: 30px 10px 10px 10px; }

body.page-template-covid-19 footer .main-site-link {
  text-align: center; }
  body.page-template-covid-19 footer .main-site-link a {
    font-weight: 400;
    font-size: 1.125rem; }

body.page-template-covid-19 section p, body.page-template-covid-19 section li {
  font-family: "Gotham Light", sans-serif; }

body.page-template-covid-19 section.message {
  padding-top: 50px; }
  @media screen and (min-width: 768px) {
    body.page-template-covid-19 section.message {
      padding-top: 100px; } }
  body.page-template-covid-19 section.message .wrapper {
    max-width: 960px; }
  body.page-template-covid-19 section.message .outer-border {
    border: 1px solid #211E1F;
    padding: 5px; }
  body.page-template-covid-19 section.message .inner-border {
    border: 1px solid #211E1F;
    padding: 40px; }
  body.page-template-covid-19 section.message .copy {
    padding: 0 20px; }
    body.page-template-covid-19 section.message .copy p {
      font-family: "Underwood", serif;
      font-size: 1rem;
      line-height: 1.5em; }
      body.page-template-covid-19 section.message .copy p + p {
        padding-top: 10px; }
      @media screen and (min-width: 768px) {
        body.page-template-covid-19 section.message .copy p {
          font-size: 1.125rem; } }
  body.page-template-covid-19 section.message .signature {
    padding-top: 10px;
    text-align: center;
    max-width: 150px;
    margin: 0 50px 0 auto; }
    @media screen and (min-width: 768px) {
      body.page-template-covid-19 section.message .signature {
        max-width: 180px; } }
    body.page-template-covid-19 section.message .signature span {
      display: block;
      padding-top: 10px;
      font-size: 1rem;
      line-height: 1.375em;
      font-family: "Underwood", serif; }

body.page-template-covid-19 section.updated-hours {
  padding: 50px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-covid-19 section.updated-hours {
      padding: 75px 0; } }
  body.page-template-covid-19 section.updated-hours .wrapper {
    max-width: 960px; }
    @media screen and (min-width: 568px) {
      body.page-template-covid-19 section.updated-hours .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap; } }
  @media screen and (min-width: 568px) {
    body.page-template-covid-19 section.updated-hours .illustration {
      width: calc(40% - 25px); } }
  body.page-template-covid-19 section.updated-hours .illustration img {
    max-width: 150px;
    margin: 0 auto; }
  body.page-template-covid-19 section.updated-hours .hours {
    padding-top: 20px;
    text-align: center; }
    @media screen and (min-width: 568px) {
      body.page-template-covid-19 section.updated-hours .hours {
        padding-top: 0;
        width: calc(60% - 25px);
        text-align: left; } }
    body.page-template-covid-19 section.updated-hours .hours .entry + .entry {
      padding-top: 20px; }
    body.page-template-covid-19 section.updated-hours .hours .entry .location h3 {
      letter-spacing: 0.25em;
      font-size: 1.125rem;
      color: #b3c5b0;
      text-transform: uppercase;
      font-weight: normal; }
      @media screen and (min-width: 768px) {
        body.page-template-covid-19 section.updated-hours .hours .entry .location h3 {
          font-size: 1.5em; } }
    body.page-template-covid-19 section.updated-hours .hours .entry .hours {
      padding-top: 5px; }
      body.page-template-covid-19 section.updated-hours .hours .entry .hours p {
        font-size: 0.9375rem;
        line-height: 1.5em; }

body.page-template-covid-19 section.details .wrapper {
  max-width: 960px; }

body.page-template-covid-19 section.details .detail {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 20px;
  border-top: 1px solid #211E1F; }
  body.page-template-covid-19 section.details .detail:last-of-type {
    border-bottom: 1px solid #211E1F; }
  body.page-template-covid-19 section.details .detail .photo {
    width: 100%; }
    @media screen and (min-width: 568px) {
      body.page-template-covid-19 section.details .detail .photo {
        width: calc(40% - 25px); } }
  body.page-template-covid-19 section.details .detail .info {
    width: 100%;
    padding: 25px 0 0 0; }
    @media screen and (min-width: 568px) {
      body.page-template-covid-19 section.details .detail .info {
        width: calc(60% - 25px);
        padding: 0; } }
    body.page-template-covid-19 section.details .detail .info .header {
      padding-bottom: 10px; }
      body.page-template-covid-19 section.details .detail .info .header h3 {
        text-transform: uppercase;
        letter-spacing: 0.15em;
        padding: 0 0 2px 0;
        font-size: 1.125rem;
        font-weight: 700;
        font-family: "Euro Bodoni", serif;
        display: inline-block;
        border-bottom: 1px solid; }
        @media screen and (min-width: 768px) {
          body.page-template-covid-19 section.details .detail .info .header h3 {
            font-size: 1.375rem; } }
      body.page-template-covid-19 section.details .detail .info .header + .body {
        padding-top: 10px; }
    body.page-template-covid-19 section.details .detail .info .subheadline {
      padding-bottom: 10px; }
      body.page-template-covid-19 section.details .detail .info .subheadline h4 {
        letter-spacing: 0.25em;
        font-size: 1rem;
        color: #b3c5b0;
        text-transform: uppercase;
        font-weight: normal; }
        @media screen and (min-width: 768px) {
          body.page-template-covid-19 section.details .detail .info .subheadline h4 {
            font-size: 1.25rem; } }
    body.page-template-covid-19 section.details .detail .info .body {
      padding: 0 0 20px 0; }
      body.page-template-covid-19 section.details .detail .info .body p, body.page-template-covid-19 section.details .detail .info .body li {
        font-size: 0.9375rem;
        line-height: 1.5em; }
        body.page-template-covid-19 section.details .detail .info .body p + p,
        body.page-template-covid-19 section.details .detail .info .body p + ol, body.page-template-covid-19 section.details .detail .info .body li + p,
        body.page-template-covid-19 section.details .detail .info .body li + ol {
          padding-top: 10px; }
      body.page-template-covid-19 section.details .detail .info .body ol {
        counter-reset: li; }
        body.page-template-covid-19 section.details .detail .info .body ol li {
          padding-left: 20px;
          position: relative; }
          body.page-template-covid-19 section.details .detail .info .body ol li:before {
            counter-increment: li;
            content: counter(li) ") ";
            position: absolute;
            top: 0;
            left: 0; }
          body.page-template-covid-19 section.details .detail .info .body ol li + li {
            margin-top: 10px; }
        body.page-template-covid-19 section.details .detail .info .body ol + p {
          padding-top: 10px; }
    body.page-template-covid-19 section.details .detail .info .footer .btn-wrapper + .btn-wrapper {
      margin-top: 10px; }
    body.page-template-covid-19 section.details .detail .info .footer .btn-wrapper .btn {
      font-size: 1.125rem;
      letter-spacing: 0.1em; }

body.page-template-covid-19 section.safety {
  padding: 50px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-covid-19 section.safety {
      padding: 75px 0; } }
  body.page-template-covid-19 section.safety .wrapper {
    max-width: 960px; }
  body.page-template-covid-19 section.safety .headline {
    padding: 0 20px 20px 20px; }
    body.page-template-covid-19 section.safety .headline h3 {
      text-transform: uppercase;
      letter-spacing: 0.05em;
      padding: 0 0 2px 0;
      font-size: 1.125rem;
      font-weight: 700;
      font-family: "Euro Bodoni", serif;
      display: inline-block;
      border-bottom: 1px solid; }
      @media screen and (min-width: 768px) {
        body.page-template-covid-19 section.safety .headline h3 {
          font-size: 1.375rem; } }
  body.page-template-covid-19 section.safety .copy {
    padding: 0 20px; }
    body.page-template-covid-19 section.safety .copy p, body.page-template-covid-19 section.safety .copy li {
      font-size: 0.9375rem;
      line-height: 1.5em; }
      body.page-template-covid-19 section.safety .copy p + p,
      body.page-template-covid-19 section.safety .copy p + ol, body.page-template-covid-19 section.safety .copy li + p,
      body.page-template-covid-19 section.safety .copy li + ol {
        padding-top: 10px; }
    body.page-template-covid-19 section.safety .copy ol {
      counter-reset: li; }
      body.page-template-covid-19 section.safety .copy ol li {
        padding-left: 20px;
        position: relative; }
        body.page-template-covid-19 section.safety .copy ol li:before {
          counter-increment: li;
          content: counter(li) ") ";
          position: absolute;
          top: 0;
          left: 0; }
        body.page-template-covid-19 section.safety .copy ol li + li {
          margin-top: 10px; }
      body.page-template-covid-19 section.safety .copy ol + p {
        padding-top: 10px; }

body.page-template-covid-19 .flower {
  padding-top: 100px; }
  body.page-template-covid-19 .flower .photo {
    max-width: 200px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      body.page-template-covid-19 .flower .photo {
        max-width: 300px; } }

body.error404 .page,
body.error404 .page-wrapper {
  min-height: 80vh; }

section.qr-menu {
  padding-bottom: 1rem; }
  @media screen and (min-width: 768px) {
    section.qr-menu {
      padding-top: 3rem;
      padding-bottom: 3rem; } }
  section.qr-menu .menu {
    max-width: 20rem;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      section.qr-menu .menu {
        max-width: 30rem; } }
    section.qr-menu .menu a {
      display: block; }
      section.qr-menu .menu a img {
        width: 100%;
        height: auto; }

@media screen and (max-width: 767px) {
  body.page-template-qr-menu section.banner {
    display: none; }
  body.page-template-qr-menu .site-header .menu-cart-menu-container,
  body.page-template-qr-menu .site-header .order-online {
    display: none; } }
