.main-shop {
    padding: 3rem 0;
}

.shop-grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);

    @include tablet-portrait {
        grid-template-columns: repeat(3, 1fr);
    }

    .photo {
        a {
            display: block;
            @include aspect-ratio(1, 1);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
    }

    .text {
        background: $green;
        text-align: center;

        a {
            display: block;
            @include aspect-ratio(1, 1);
        }

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h3 {
            color: $white;
            text-transform: uppercase;
            letter-spacing: 0.375em;
            font-weight: normal;
            font-size: 1.5rem;
            line-height: 1.25em;

            @include tablet-portrait {
                font-size: 2rem;
                line-height: 1.5em;
                letter-spacing: 0.5em;
            }
        }
    }

	@media screen and (max-width: 767px) {
        .photo-2,
        .photo-4,
        .photo-6 {
            grid-column: 2;
        }

        .text-2 {
            grid-column: 1;
            grid-row: 2;
        }

        .text-4 {
            grid-column: 1;
            grid-row: 4;
        }

        .text-6 {
            grid-column: 1;
            grid-row: 6;
        }
    }

}