.social-links {
	display: flex;
	align-items: center;

	a {
		display: block;

		& + a {
			margin-left: 20px
		}

		@include tablet-landscape {
			& + a {
				margin-left: 50px
			}
		}

		img {
			max-height: 16px;

			@include tablet-landscape {
				max-height: 20px;
			}
			
		}
	}
}