section.page-header {
	text-align: center;
	padding: 50px 0 10px 0;

	h1 {
		text-transform: uppercase;
		font-family: $euro-bodoni;
		font-weight: normal;
		font-size: 1.5em;
		letter-spacing: 0.2em;
		display: inline-block;
		border-bottom: 3px solid;
		padding-bottom: 10px;

		@include tablet-portrait {
			font-size: 2.5em;
		}

	}

	.copy.p1 {
		padding-top: 25px;
		
		p {
			font-size: 1.5rem;
			line-height: 1.125em;
			font-family: $underwood;
			letter-spacing: 0.01em;

		}
	}
}